@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.bkg-div4,
.bkg-icon4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
}
.bkg-div4 {
  background-color: var(--color-gray-400);
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.1) inset;
}
.bkg-icon4 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bubble-div4 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
.logo-jogaai-icon2 {
  width: 224.53px;
  height: 31.93px;
  flex-shrink: 0;
}
.logo-button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-lg) var(--padding-lg) 0;
  background-color: var(--gradient-dark);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.home-div2 {
  position: relative;
  font-size: var(--text-size);
  font-family: var(--h1);
  text-align: left;
  display: inline-block;
}
.home-div2,
.menu-home-a1 {
  color: var(--branding);
}
.menu-de-copa1,
.menu-de-sampa2,
.menu-home-a1 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.menu-de-copa1 {
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
}
.cs-parking-b {
  position: relative;
  font-size: var(--text-size);
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding-light);
  text-align: left;
}
.menu-cs-parking-span {
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  padding: var(--padding-2xs) 0 var(--padding-2xs) var(--padding-lg);
  justify-content: center;
}
.content-div8,
.desktop-nav2,
.menu-cs-parking-span,
.nav2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.desktop-nav2 {
  justify-content: flex-end;
  gap: var(--gap-0);
}
.content-div8,
.nav2 {
  justify-content: flex-start;
}
.content-div8 {
  width: 1168px;
  flex-shrink: 0;
  justify-content: space-between;
}
.icon-menu2 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.hamburguer-button2,
.header2 {
  flex-direction: row;
  box-sizing: border-box;
}
.hamburguer-button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg);
  background-color: var(--gradient-dark);
  background: linear-gradient(135deg, #222, #191919);
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
}
.header2 {
  align-self: stretch;
  background-color: var(--grey-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 0 var(--padding-2xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-0);
  position: fixed;
  width: 100vw;
  z-index: 99;
}
.thumb-icon5 {
  flex: 1;
  position: relative;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  height: 312px;
  object-fit: cover;
  cursor: pointer;
}
.thumb-icon5:hover {
  border: 2px solid var(--branding-dark);
  box-sizing: border-box;
}
.text-p6,
.title-h26 {
  margin: 0;
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.title-h26 {
  font-size: var(--h1-size);
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  color: var(--grey-light);
}
.text-p6 {
  letter-spacing: 0.05em;
  line-height: 150%;
}
.text-div6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--text);
}
.authors-h46,
.value-div18 {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
}
.authors-h46 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.value-div18 {
  font-size: var(--font-size-sm);
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--text);
  color: var(--branding-dark);
  text-align: left;
}
.tag-mataleone6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xs);
  background-color: var(--grey-light);
  border-radius: var(--br-xs);
  display: none;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.tag-kurtabble6:hover,
.tag-mataleone6:hover {
  background-color: var(--white);
}
.value-div19 {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  line-height: 124%;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--text);
  color: var(--branding-dark);
  text-align: left;
  display: inline-block;
}
.authors-div9,
.tag-kurtabble6,
.tags-div6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.tag-kurtabble6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xs);
  background-color: var(--grey-light);
  border-radius: var(--br-xs);
  box-sizing: border-box;
  align-items: center;
}
.authors-div9,
.tags-div6 {
  align-items: flex-start;
  gap: var(--gap-sm);
}
.authors-div9 {
  flex-direction: column;
}
.secondary-b7 {
  position: relative;
  font-size: var(--text-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding);
  text-align: center;
}
.more-info-button6 {
  cursor: pointer;
  border: 1px solid var(--branding);
  padding: var(--padding-2xs) var(--padding-md);
  background-color: var(--gradient-dark);
  border-radius: var(--br-sm);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.more-info-button6:hover {
  border: 1px solid var(--branding-dark);
  box-sizing: border-box;
}
.primary-b8 {
  position: relative;
  font-size: var(--text-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--h1);
  color: var(--white);
  text-align: center;
}
.play-now-button6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-md);
  background-color: var(--branding);
  border-radius: var(--br-sm);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.play-now-button6:hover {
  background-color: var(--branding-dark);
}
.actions-div6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.content-div9 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lg);
}
.container-cs-parking1,
.content-div9,
.wrap-article6 {
  display: flex;
  justify-content: flex-start;
}
.wrap-article6 {
  width: 1168px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-size);
  color: var(--white);
  font-family: var(--h1);
}
.container-cs-parking1 {
  align-self: stretch;
  background-color: var(--black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  padding: var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
}
.more-pictures-h21 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  line-height: 135%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.de-sampa-3-icon4 {
  flex: 1;
  position: relative;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  height: 202px;
  object-fit: cover;
  cursor: pointer;
}
.de-sampa-3-icon4:hover {
  border: 2px solid var(--branding-dark);
  box-sizing: border-box;
}
.frame-div12,
.main2,
.more-pictures-section1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.frame-div12 {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-lg);
}
.main2,
.more-pictures-section1 {
  flex-direction: column;
}
.more-pictures-section1 {
  padding: 0 var(--padding-2xl) var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--h2-size);
  color: var(--white);
  font-family: var(--h1);
}
.main2 {
  align-items: flex-start;
  gap: var(--gap-0);
}
.steam-logo-icon6,
.steam-logo-icon7 {
  position: relative;
  width: 265px;
  height: 80px;
  flex-shrink: 0;
}
.steam-logo-icon7 {
  width: 266px;
  object-fit: cover;
  display: none;
}
.visit-our-steam2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.and-favorite-our2 {
  margin: 0;
}
.visit-our-steam-workshop-and2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  line-height: 135%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.primary-b9 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding);
  text-align: center;
}
.frame-div15,
.visit-now-button2 {
  display: flex;
  justify-content: center;
}
.visit-now-button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-xl);
  background-color: var(--white);
  border-radius: var(--br-sm);
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.visit-now-button2:hover {
  background-color: var(--grey-light);
}
.frame-div15 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.cta-section2,
.frame-div14 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-div14 {
  flex-direction: row;
  gap: var(--gap-lg);
}
.cta-section2 {
  align-self: stretch;
  background-color: var(--branding-dark);
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-2xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h2-size);
  color: var(--white);
  font-family: var(--h1);
}
.bubble-div5 {
  position: relative;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  display: none;
}
.about9 {
  position: relative;
  font-size: var(--text-size);
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding);
  text-align: left;
}
.about8,
.staff-div6 {
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.about8 {
  text-decoration: none;
  display: flex;
}
.staff-div6 {
  display: none;
}
.about-div3,
.csgo-maps-div3,
.links-nav2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-0);
}
.csgo-maps-div3,
.links-nav2 {
  justify-content: flex-start;
}
.links-nav2 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-xl);
}
.shield-badge-1-icon2 {
  position: relative;
  width: 192px;
  height: 192px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.frame-div16 {
  justify-content: center;
  cursor: pointer;
}
.frame-div16,
.links-footer2,
.wrapper-div4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-div4 {
  width: 1168px;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.links-footer2 {
  align-self: stretch;
  background-color: var(--grey-dark);
  padding: var(--padding-2xl);
  box-sizing: border-box;
  justify-content: center;
}
.logo-icon2 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.steam-icon4,
.steam-icon5 {
  position: relative;
  height: 24px;
  flex-shrink: 0;
}
.steam-icon4 {
  width: 23.91px;
  cursor: pointer;
}
.steam-icon5 {
  width: 24px;
  object-fit: cover;
  display: none;
}
.twitter-icon4 {
  height: 19.5px;
  cursor: pointer;
}
.instagram-icon4,
.twitter-icon4,
.twitter-icon5 {
  position: relative;
  width: 24px;
  flex-shrink: 0;
}
.twitter-icon5 {
  height: 20px;
  object-fit: cover;
  display: none;
}
.instagram-icon4 {
  height: 24px;
  cursor: pointer;
}
.social-nav2 {
  justify-content: flex-end;
  gap: var(--gap-md);
}
.social-footer2,
.social-nav2,
.wrapper-div5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-div5 {
  width: 1168px;
  flex-shrink: 0;
  justify-content: space-between;
}
.social-footer2 {
  align-self: stretch;
  background-color: var(--black);
  padding: 0 var(--padding-2xl);
  box-sizing: border-box;
  justify-content: center;
}
.cs-parking-div5,
.footer-div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-0);
}
.footer-div2 {
  align-self: stretch;
  justify-content: center;
}
.cs-parking-div5 {
  position: relative;
  background-color: var(--black);
  width: 100%;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .desktop-nav2 {
    display: none;
  }
  .content-div8 {
    width: 100%;
  }
  .hamburguer-button2 {
    display: flex;
  }
  .header2 {
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .wrap-article6,
  .wrapper-div4,
  .wrapper-div5 {
    width: 100%;
  }
}
@media screen and (max-width: 428px) {
  .logo-jogaai-icon2 {
    width: 168px;
    height: 24px;
  }
  .logo-button2 {
    padding: var(--padding-md);
    box-sizing: border-box;
  }
  .desktop-nav2 {
    display: none;
  }
  .icon-menu2 {
    width: 24px;
    height: 24px;
  }
  .hamburguer-button2 {
    padding: var(--padding-md);
    box-sizing: border-box;
  }
  .header2 {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
  }
  .thumb-icon5 {
    flex: unset;
    align-self: stretch;
  }
  .actions-div6,
  .more-info-button6,
  .play-now-button6 {
    width: 100%;
  }
  .content-div9 {
    flex: unset;
    align-self: stretch;
  }
  .wrap-article6 {
    width: 100%;
    flex-direction: column;
  }
  .container-cs-parking1 {
    padding: var(--padding-lg);
    box-sizing: border-box;
  }
  .de-sampa-3-icon4 {
    flex: unset;
    align-self: stretch;
  }
  .frame-div12 {
    flex-direction: column;
  }
  .more-pictures-section1 {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    padding-bottom: var(--padding-lg);
    box-sizing: border-box;
  }
  .visit-now-button2,
  .visit-our-steam-workshop-and2 {
    width: 100%;
  }
  .frame-div14,
  .frame-div15 {
    width: 100%;
    text-align: center;
  }
  .frame-div14 {
    flex-direction: column;
  }
  .cta-section2 {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
  }
  .links-nav2 {
    flex-direction: column;
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .frame-div16,
  .wrapper-div4 {
    width: 100%;
    text-align: center;
  }
  .wrapper-div4 {
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .links-footer2 {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
  }
  .wrapper-div5 {
    width: 100%;
  }
  .social-footer2 {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
    gap: var(--gap-md);
  }
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.rectangle-div {
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--branding);
  width: 4px;
  height: 48px;
  flex-shrink: 0;
}
.frame-div3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 14px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.rectangle-div1 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  background-color: var(--branding);
  width: 16px;
  flex-shrink: 0;
  display: none;
}
.frame-button,
.home-a,
.maps2 {
  flex-direction: row;
  cursor: pointer;
}
.frame-button {
  border: 0;
  padding: 0;
  background-color: var(--gradient-dark);
  align-self: stretch;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.home-a,
.maps2 {
  text-decoration: none;
  padding: var(--padding-2xs) var(--padding-lg) var(--padding-2xs) 0;
  box-sizing: border-box;
  color: var(--black);
}
.home-a {
  width: 204.2px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.maps2 {
  align-self: stretch;
  align-items: center;
}
.csgo-maps-div1,
.de-sampa1,
.maps2 {
  display: flex;
  justify-content: flex-start;
}
.de-sampa1 {
  text-decoration: none;
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  color: inherit;
}
.csgo-maps-div1 {
  width: 204.2px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-0);
}
.about-us {
  position: relative;
  display: inline-block;
}
.links-div,
.staff-div2 {
  box-sizing: border-box;
  justify-content: flex-start;
}
.staff-div2 {
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  display: none;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-lg);
  align-items: center;
  cursor: pointer;
  color: var(--branding);
}
.links-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-xs) 0;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.image-icon1,
.vector-icon1 {
  position: relative;
  flex-shrink: 0;
}
.image-icon1 {
  width: 25px;
  height: 20px;
  object-fit: cover;
  display: none;
}
.vector-icon1 {
  width: 19.8px;
  height: 19.8px;
}
.frame-div4,
.icon-close {
  display: flex;
  gap: var(--gap-0);
}
.icon-close {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-dark);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-div4 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.steam-logo-icon2,
.steam-logo-icon3 {
  position: relative;
  width: 159px;
  height: 48px;
  flex-shrink: 0;
}
.steam-logo-icon3 {
  width: 266px;
  height: 80px;
  object-fit: cover;
  display: none;
}
.visit-our-steam-workshop-and-f {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.secondary-b5 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding);
  text-align: center;
}
.button,
.frame-div5,
.steam-workshop-div {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-xl);
  background-color: var(--black);
  border-radius: var(--br-sm);
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.frame-div5,
.steam-workshop-div {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.steam-workshop-div {
  padding: var(--padding-xs);
  box-sizing: border-box;
  justify-content: flex-end;
}
.menu-responsive-div,
.wrap-div {
  border-radius: var(--br-md) 0 0 var(--br-md);
  display: flex;
  align-items: flex-start;
}
.wrap-div {
  align-self: stretch;
  flex: 1;
  background-color: var(--branding);
  border-top: 0 solid var(--branding-light);
  border-right: 0 solid var(--branding-light);
  border-bottom: 0 solid var(--branding-light);
  border-left: 2px solid var(--branding-light);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-md);
  justify-content: space-between;
}
.menu-responsive-div {
  position: relative;
  background-color: var(--branding-dark);
  width: 328px;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-0);
  opacity: 0;
  max-width: 90%;
  text-align: left;
  font-size: var(--text-size);
  color: var(--grey-dark);
  font-family: var(--h1);
}
.menu-responsive-div.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
@media screen and (max-width: 428px) {
  .button,
  .visit-our-steam-workshop-and-f {
    width: 100%;
  }
  .frame-div5,
  .steam-workshop-div {
    width: 100%;
    text-align: center;
  }
  .steam-workshop-div {
    flex-direction: column;
  }
}
