@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.bkg-div8,
.bkg-icon8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
}
.bkg-div8 {
  background-color: var(--color-gray-400);
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.1) inset;
}
.bkg-icon8 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bubble-div8 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
.logo-jogaai-icon4 {
  width: 224.53px;
  height: 31.93px;
  flex-shrink: 0;
}
.logo-button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-lg) var(--padding-lg) 0;
  background-color: var(--gradient-dark);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.home-div4 {
  position: relative;
  font-size: var(--text-size);
  font-family: var(--h1);
  text-align: left;
  display: inline-block;
}
.home-div4,
.menu-home-a3 {
  color: var(--branding);
}
.menu-de-copa3,
.menu-de-sampa4,
.menu-home-a3 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.menu-de-copa3 {
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
}
.de-club {
  position: relative;
  font-size: var(--text-size);
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding-light);
  text-align: left;
}
.menu-cs-parking3,
.menu-de-club-span {
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  justify-content: center;
}
.menu-de-club-span {
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-lg);
  align-items: center;
}
.menu-cs-parking3 {
  text-decoration: none;
  padding: var(--padding-2xs) 0 var(--padding-2xs) var(--padding-lg);
  cursor: pointer;
}
.content-div12,
.desktop-nav4,
.menu-cs-parking3,
.nav4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.desktop-nav4 {
  justify-content: flex-end;
  gap: var(--gap-0);
}
.content-div12,
.nav4 {
  justify-content: flex-start;
}
.content-div12 {
  width: 1168px;
  flex-shrink: 0;
  justify-content: space-between;
}
.icon-menu4 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.hamburguer-button4,
.header4 {
  flex-direction: row;
  box-sizing: border-box;
}
.hamburguer-button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg);
  background-color: var(--gradient-dark);
  background: linear-gradient(135deg, #222, #191919);
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
}
.header4 {
  align-self: stretch;
  background-color: var(--grey-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 0 var(--padding-2xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-0);
  position: fixed;
  width: 100vw;
  z-index: 99;
}
.thumb-icon7 {
  flex: 1;
  position: relative;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  height: 312px;
  object-fit: cover;
  cursor: pointer;
}
.thumb-icon7:hover {
  border: 2px solid var(--branding-dark);
  box-sizing: border-box;
}
.text-p8,
.title-h28 {
  margin: 0;
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.title-h28 {
  font-size: var(--h1-size);
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  color: var(--grey-light);
}
.text-p8 {
  line-height: 150%;
}
.text-div8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--text);
}
.authors-h48,
.value-div24 {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
}
.authors-h48 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.value-div24 {
  font-size: var(--font-size-sm);
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--text);
  color: var(--branding-dark);
  text-align: left;
}
.tag-mataleone8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xs);
  background-color: var(--grey-light);
  border-radius: var(--br-xs);
  display: none;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.tag-kurtabble8:hover,
.tag-mataleone8:hover {
  background-color: var(--white);
}
.value-div25 {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  line-height: 124%;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--text);
  color: var(--branding-dark);
  text-align: left;
  display: inline-block;
}
.authors-div13,
.tag-kurtabble8,
.tags-div8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.tag-kurtabble8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xs);
  background-color: var(--grey-light);
  border-radius: var(--br-xs);
  box-sizing: border-box;
  align-items: center;
}
.authors-div13,
.tags-div8 {
  align-items: flex-start;
  gap: var(--gap-sm);
}
.authors-div13 {
  flex-direction: column;
}
.secondary-b9 {
  position: relative;
  font-size: var(--text-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding);
  text-align: center;
}
.more-info-button8 {
  cursor: pointer;
  border: 1px solid var(--branding);
  padding: var(--padding-2xs) var(--padding-md);
  background-color: var(--gradient-dark);
  border-radius: var(--br-sm);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.more-info-button8:hover {
  border: 1px solid var(--branding-dark);
  box-sizing: border-box;
}
.primary-b12 {
  position: relative;
  font-size: var(--text-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--h1);
  color: var(--white);
  text-align: center;
}
.play-now-button8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-md);
  background-color: var(--branding);
  border-radius: var(--br-sm);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.play-now-button8:hover {
  background-color: var(--branding-dark);
}
.actions-div8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.content-div13 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lg);
}
.container-de-club1,
.content-div13,
.wrap-article8 {
  display: flex;
  justify-content: flex-start;
}
.wrap-article8 {
  width: 1168px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-size);
  color: var(--white);
  font-family: var(--h1);
}
.container-de-club1 {
  align-self: stretch;
  background-color: var(--black);
  flex-direction: column;
  padding: var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
}
.more-pictures-h23 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  line-height: 135%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.de-sampa-3-icon12 {
  flex: 1;
  position: relative;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  height: 202px;
  object-fit: cover;
  cursor: pointer;
}
.de-sampa-3-icon12:hover {
  border: 2px solid var(--branding-dark);
  box-sizing: border-box;
}
.frame-div24,
.main4,
.more-pictures-section3 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.frame-div24 {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-lg);
}
.main4,
.more-pictures-section3 {
  flex-direction: column;
}
.more-pictures-section3 {
  padding: 0 var(--padding-2xl) var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--h2-size);
  color: var(--white);
  font-family: var(--h1);
}
.main4 {
  align-items: flex-start;
  gap: var(--gap-0);
}
.steam-logo-icon10,
.steam-logo-icon11 {
  position: relative;
  width: 265px;
  height: 80px;
  flex-shrink: 0;
}
.steam-logo-icon11 {
  width: 266px;
  object-fit: cover;
  display: none;
}
.visit-our-steam4 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.and-favorite-our4 {
  margin: 0;
}
.visit-our-steam-workshop-and4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  line-height: 135%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.primary-b13 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding);
  text-align: center;
}
.frame-div28,
.visit-now-button4 {
  display: flex;
  justify-content: center;
}
.visit-now-button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-xl);
  background-color: var(--white);
  border-radius: var(--br-sm);
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.visit-now-button4:hover {
  background-color: var(--grey-light);
}
.frame-div28 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.cta-section4,
.frame-div27 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-div27 {
  flex-direction: row;
  gap: var(--gap-lg);
}
.cta-section4 {
  align-self: stretch;
  background-color: var(--branding-dark);
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-2xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h2-size);
  color: var(--white);
  font-family: var(--h1);
}
.bubble-div9 {
  position: relative;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  display: none;
}
.about15 {
  position: relative;
  font-size: var(--text-size);
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding);
  text-align: left;
}
.about14,
.staff-div10 {
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.about14 {
  text-decoration: none;
  display: flex;
}
.staff-div10 {
  display: none;
}
.about-div5,
.csgo-maps-div5,
.links-nav4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-0);
}
.csgo-maps-div5,
.links-nav4 {
  justify-content: flex-start;
}
.links-nav4 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-xl);
}
.shield-badge-1-icon4 {
  position: relative;
  width: 192px;
  height: 192px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.frame-div29 {
  justify-content: center;
  cursor: pointer;
}
.frame-div29,
.links-footer4,
.wrapper-div8 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-div8 {
  width: 1168px;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.links-footer4 {
  align-self: stretch;
  background-color: var(--grey-dark);
  padding: var(--padding-2xl);
  box-sizing: border-box;
  justify-content: center;
}
.logo-icon4 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.steam-icon8,
.steam-icon9 {
  position: relative;
  height: 24px;
  flex-shrink: 0;
}
.steam-icon8 {
  width: 23.91px;
  cursor: pointer;
}
.steam-icon9 {
  width: 24px;
  object-fit: cover;
  display: none;
}
.twitter-icon8 {
  height: 19.5px;
  cursor: pointer;
}
.instagram-icon8,
.twitter-icon8,
.twitter-icon9 {
  position: relative;
  width: 24px;
  flex-shrink: 0;
}
.twitter-icon9 {
  height: 20px;
  object-fit: cover;
  display: none;
}
.instagram-icon8 {
  height: 24px;
  cursor: pointer;
}
.social-nav4 {
  justify-content: flex-end;
  gap: var(--gap-md);
}
.social-footer4,
.social-nav4,
.wrapper-div9 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-div9 {
  width: 1168px;
  flex-shrink: 0;
  justify-content: space-between;
}
.social-footer4 {
  align-self: stretch;
  background-color: var(--black);
  padding: 0 var(--padding-2xl);
  box-sizing: border-box;
  justify-content: center;
}
.de-club-div9,
.footer-div4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-0);
}
.footer-div4 {
  align-self: stretch;
  justify-content: center;
}
.de-club-div9 {
  position: relative;
  background-color: var(--black);
  width: 100%;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .desktop-nav4 {
    display: none;
  }
  .content-div12 {
    width: 100%;
  }
  .hamburguer-button4 {
    display: flex;
  }
  .header4 {
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .wrap-article8,
  .wrapper-div8,
  .wrapper-div9 {
    width: 100%;
  }
}
@media screen and (max-width: 428px) {
  .logo-jogaai-icon4 {
    width: 168px;
    height: 24px;
  }
  .logo-button4 {
    padding: var(--padding-md);
    box-sizing: border-box;
  }
  .desktop-nav4 {
    display: none;
  }
  .icon-menu4 {
    width: 24px;
    height: 24px;
  }
  .hamburguer-button4 {
    padding: var(--padding-md);
    box-sizing: border-box;
  }
  .header4 {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
  }
  .thumb-icon7 {
    flex: unset;
    align-self: stretch;
  }
  .actions-div8,
  .more-info-button8,
  .play-now-button8 {
    width: 100%;
  }
  .content-div13 {
    flex: unset;
    align-self: stretch;
  }
  .wrap-article8 {
    width: 100%;
    flex-direction: column;
  }
  .container-de-club1 {
    padding: var(--padding-lg);
    box-sizing: border-box;
  }
  .de-sampa-3-icon12 {
    flex: unset;
    align-self: stretch;
  }
  .frame-div24 {
    flex-direction: column;
  }
  .more-pictures-section3 {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    padding-bottom: var(--padding-lg);
    box-sizing: border-box;
  }
  .visit-now-button4,
  .visit-our-steam-workshop-and4 {
    width: 100%;
  }
  .frame-div27,
  .frame-div28 {
    width: 100%;
    text-align: center;
  }
  .frame-div27 {
    flex-direction: column;
  }
  .cta-section4 {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
  }
  .links-nav4 {
    flex-direction: column;
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .frame-div29,
  .wrapper-div8 {
    width: 100%;
    text-align: center;
  }
  .wrapper-div8 {
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .links-footer4 {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
  }
  .wrapper-div9 {
    width: 100%;
  }
  .social-footer4 {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
    gap: var(--gap-md);
  }
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.rectangle-div {
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--branding);
  width: 4px;
  height: 48px;
  flex-shrink: 0;
}
.frame-div3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 14px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.rectangle-div1 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  background-color: var(--branding);
  width: 16px;
  flex-shrink: 0;
  display: none;
}
.frame-button,
.home-a,
.maps2 {
  flex-direction: row;
  cursor: pointer;
}
.frame-button {
  border: 0;
  padding: 0;
  background-color: var(--gradient-dark);
  align-self: stretch;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.home-a,
.maps2 {
  text-decoration: none;
  padding: var(--padding-2xs) var(--padding-lg) var(--padding-2xs) 0;
  box-sizing: border-box;
  color: var(--black);
}
.home-a {
  width: 204.2px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.maps2 {
  align-self: stretch;
  align-items: center;
}
.csgo-maps-div1,
.de-sampa1,
.maps2 {
  display: flex;
  justify-content: flex-start;
}
.de-sampa1 {
  text-decoration: none;
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  color: inherit;
}
.csgo-maps-div1 {
  width: 204.2px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-0);
}
.about-us {
  position: relative;
  display: inline-block;
}
.links-div,
.staff-div2 {
  box-sizing: border-box;
  justify-content: flex-start;
}
.staff-div2 {
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  display: none;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-lg);
  align-items: center;
  cursor: pointer;
  color: var(--branding);
}
.links-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-xs) 0;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.image-icon1,
.vector-icon1 {
  position: relative;
  flex-shrink: 0;
}
.image-icon1 {
  width: 25px;
  height: 20px;
  object-fit: cover;
  display: none;
}
.vector-icon1 {
  width: 19.8px;
  height: 19.8px;
}
.frame-div4,
.icon-close {
  display: flex;
  gap: var(--gap-0);
}
.icon-close {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-dark);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-div4 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.steam-logo-icon2,
.steam-logo-icon3 {
  position: relative;
  width: 159px;
  height: 48px;
  flex-shrink: 0;
}
.steam-logo-icon3 {
  width: 266px;
  height: 80px;
  object-fit: cover;
  display: none;
}
.visit-our-steam-workshop-and-f {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.secondary-b5 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding);
  text-align: center;
}
.button,
.frame-div5,
.steam-workshop-div {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-xl);
  background-color: var(--black);
  border-radius: var(--br-sm);
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.frame-div5,
.steam-workshop-div {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.steam-workshop-div {
  padding: var(--padding-xs);
  box-sizing: border-box;
  justify-content: flex-end;
}
.menu-responsive-div,
.wrap-div {
  border-radius: var(--br-md) 0 0 var(--br-md);
  display: flex;
  align-items: flex-start;
}
.wrap-div {
  align-self: stretch;
  flex: 1;
  background-color: var(--branding);
  border-top: 0 solid var(--branding-light);
  border-right: 0 solid var(--branding-light);
  border-bottom: 0 solid var(--branding-light);
  border-left: 2px solid var(--branding-light);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-md);
  justify-content: space-between;
}
.menu-responsive-div {
  position: relative;
  background-color: var(--branding-dark);
  width: 328px;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-0);
  opacity: 0;
  max-width: 90%;
  text-align: left;
  font-size: var(--text-size);
  color: var(--grey-dark);
  font-family: var(--h1);
}
.menu-responsive-div.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
@media screen and (max-width: 428px) {
  .button,
  .visit-our-steam-workshop-and-f {
    width: 100%;
  }
  .frame-div5,
  .steam-workshop-div {
    width: 100%;
    text-align: center;
  }
  .steam-workshop-div {
    flex-direction: column;
  }
}
