@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.logo-jogaai-icon7 {
  position: relative;
  width: 224px;
  height: 32px;
  flex-shrink: 0;
}
.logo-div7 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-2xl) var(--padding-2xl) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.home-div7 {
  position: relative;
  font-size: var(--button-size);
  font-family: var(--button);
  color: var(--branding);
  text-align: left;
  display: inline-block;
}
.menu-home-a3 {
  text-decoration: none;
  color: var(--branding);
  cursor: pointer;
}
.menu-de-sampa-span3,
.menu-home-a3 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.de-copa-b {
  position: relative;
  font-size: var(--button-size);
  display: inline-block;
  font-family: var(--button);
  color: var(--branding-light);
  text-align: left;
}
.menu-de-copa4 {
  text-decoration: none;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  padding: var(--padding-3xs) var(--padding-xl);
  justify-content: center;
}
.desktop-nav4,
.menu-cs-parking4,
.menu-de-copa4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-cs-parking4 {
  text-decoration: none;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  padding: var(--padding-3xs) 0 var(--padding-3xs) var(--padding-xl);
  justify-content: center;
}
.desktop-nav4 {
  justify-content: flex-end;
  gap: var(--gap-0);
}
.primary-b16 {
  position: relative;
  font-size: var(--button-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--white);
  text-align: center;
}
.button9,
.nav4 {
  flex-direction: row;
  align-items: center;
}
.button9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--branding);
  border-radius: var(--br-sm);
  display: none;
  box-sizing: border-box;
  justify-content: center;
}
.nav4 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.icon-menu4 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.hamburguer-button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xl);
  background-color: var(--gradient-dark);
  background: linear-gradient(135deg, #222, #191919);
  border-top: 0 solid var(--grey-dark);
  border-right: 0 solid var(--grey-dark);
  border-bottom: 0 solid var(--grey-dark);
  border-left: 1px solid var(--grey-dark);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header4,
.wrap-div12 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrap-div12 {
  width: 1168px;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.header4 {
  background-color: var(--black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 80px;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  justify-content: center;
  position: fixed;
  z-index: 99;
}
.home-div8 {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
}
.home-a5 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-xs) var(--padding-sm) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: inherit;
}
.div24 {
  position: relative;
  letter-spacing: 0.05em;
  color: var(--branding-dark);
  display: inline-block;
}
.level-2-a3,
.level-3-span3 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.level-2-a3 {
  text-decoration: none;
  color: inherit;
}
.level-3-span3 {
  color: var(--branding-light);
}
.breadcrumb-div3,
.wrapper-div11 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-div11 {
  width: 1168px;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.breadcrumb-div3 {
  align-self: stretch;
  background-color: var(--branding-darkest);
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  justify-content: center;
}
.icons-left3 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  cursor: pointer;
}
.left-a3 {
  text-decoration: none;
  align-self: stretch;
  background-color: var(--color-gray-600);
  width: 56px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title-h14 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.another-brazilian-csgo4 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.a-map-for4 {
  margin: 0;
}
.text-txt-span3 {
  line-break: anywhere;
  width: 100%;
}
.text-h34 {
  margin: 0;
  position: relative;
  font-size: var(--button-size);
  letter-spacing: 0.05em;
  line-height: 150%;
  font-weight: 400;
  font-family: var(--text);
  display: flex;
  align-items: center;
  width: 584px;
}
.text-div8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.authors-h48,
.value-div24 {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
}
.authors-h48 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.value-div24 {
  font-size: var(--font-size-xs);
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--text);
  color: var(--branding-dark);
  text-align: left;
}
.tag-mataleone8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xs);
  background-color: var(--grey-light);
  border-radius: var(--br-xs);
  display: none;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.tag-kurtabble8:hover,
.tag-mataleone8:hover {
  background-color: var(--white);
}
.value-div25 {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.05em;
  line-height: 124%;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--text);
  color: var(--branding-dark);
  text-align: left;
  display: inline-block;
}
.tag-kurtabble8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xs);
  background-color: var(--grey-light);
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.authors-div14,
.line-div3,
.tags-div8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tags-div8 {
  flex-direction: row;
  gap: var(--gap-sm);
}
.authors-div14,
.line-div3 {
  flex-direction: column;
}
.authors-div14 {
  gap: var(--gap-sm);
  font-size: var(--button-size);
}
.line-div3 {
  align-self: stretch;
  gap: var(--gap-md);
}
.primary-b17 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--white);
  text-align: center;
}
.button10,
.column-div6 {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}
.button10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md) var(--padding-3xl);
  background-color: var(--branding);
  border-radius: var(--br-sm);
  flex-direction: row;
  align-items: center;
}
.column-div6 {
  align-self: stretch;
  flex: 1;
  background: linear-gradient(
    90deg,
    rgba(25, 25, 25, 0.5),
    rgba(25, 25, 25, 0)
  );
  flex-direction: column;
  padding: var(--padding-4xl) 0;
  align-items: flex-start;
  gap: var(--gap-lg);
}
.map-logo-icon3 {
  position: relative;
  width: 182px;
  height: 182px;
  flex-shrink: 0;
  object-fit: cover;
}
.column-div7 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-div3,
.right-a3,
.wrap-div13 {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}
.wrap-div13 {
  width: 1168px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.hero-div3,
.right-a3 {
  justify-content: center;
}
.right-a3 {
  text-decoration: none;
  width: 56px;
  align-items: center;
}
.hero-div3 {
  height: 464px;
  align-items: flex-start;
  gap: var(--gap-0);
  background-image: url(./assets/hero4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--h1-size);
  color: var(--white);
}
.more-pictures-h23 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  line-height: 135%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.thumb-icon54 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.thumb-div59 {
  flex: 1;
  position: relative;
  border-radius: var(--br-sm);
  border: 2px solid var(--branding);
  box-sizing: border-box;
  height: 202px;
  overflow: hidden;
}
.thumb-div59:hover,
.thumb-div64:hover {
  border: 2px solid var(--color-green-200);
  box-sizing: border-box;
}
.div26 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.thumb-div64 {
  flex: 1;
  position: relative;
  border-radius: var(--br-sm);
  border: 2px solid var(--branding);
  box-sizing: border-box;
  height: 202px;
  overflow: hidden;
  display: none;
}
.div29 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.more-pictures-section3,
.wrap-div14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.wrap-div14 {
  width: 1168px;
  gap: var(--gap-lg);
}
.more-pictures-section3 {
  align-self: stretch;
  padding: var(--padding-4xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h2-size);
  color: var(--white);
  font-family: var(--button);
}
.steam-logo-icon10,
.steam-logo-icon11 {
  position: relative;
  width: 265px;
  height: 80px;
  flex-shrink: 0;
}
.steam-logo-icon11 {
  width: 266px;
  object-fit: cover;
  display: none;
}
.visit-our-steam-workshop-and4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  line-height: 135%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.primary-b18 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--branding);
  text-align: center;
}
.visit-now-button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md) var(--padding-3xl);
  background-color: var(--white);
  border-radius: var(--br-sm);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.visit-now-button4:hover {
  background-color: var(--grey-light);
}
.frame-div14,
.frame-div15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-sm);
}
.frame-div14 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-lg);
}
.about-us6,
.cta-section4 {
  font-family: var(--button);
  text-align: left;
}
.cta-section4 {
  align-self: stretch;
  background-color: var(--branding-dark);
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-4xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--h2-size);
  color: var(--white);
}
.about-us6 {
  position: relative;
  font-size: var(--button-size);
  display: inline-block;
  color: var(--branding);
}
.about12,
.staff4 {
  text-decoration: none;
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xl);
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.about12 {
  display: flex;
}
.staff4 {
  display: none;
}
.about-nav4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-0);
}
.csgo-maps-nav4,
.de-rave6,
.links-div9 {
  display: flex;
  justify-content: flex-start;
}
.de-rave6 {
  text-decoration: none;
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-2xl) var(--padding-3xs);
  align-items: center;
  cursor: pointer;
}
.csgo-maps-nav4,
.links-div9 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-0);
}
.links-div9 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-xl);
}
.the-internet-defense-league-th-icon4 {
  position: relative;
  width: 192px;
  height: 192px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.the-internet-defense-league4 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.links-div8,
.wrapper-div12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.wrapper-div12 {
  width: 1168px;
  flex-shrink: 0;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.links-div8 {
  align-self: stretch;
  background-color: var(--grey-dark);
  padding: var(--padding-4xl);
  box-sizing: border-box;
  align-items: center;
}
.logo-jogaai-icon8 {
  position: relative;
  width: 168px;
  height: 24px;
  flex-shrink: 0;
}
.logo-div8 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-2xl) var(--padding-2xl) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.steam-icon8,
.steam-icon9 {
  position: relative;
  height: 24px;
  flex-shrink: 0;
}
.steam-icon8 {
  width: 23.91px;
  cursor: pointer;
}
.steam-icon9 {
  width: 24px;
  object-fit: cover;
  display: none;
}
.twitter-icon8 {
  height: 19.5px;
  cursor: pointer;
}
.instagram-icon8,
.twitter-icon8,
.twitter-icon9 {
  position: relative;
  width: 24px;
  flex-shrink: 0;
}
.twitter-icon9 {
  height: 20px;
  object-fit: cover;
  display: none;
}
.instagram-icon8 {
  height: 24px;
  cursor: pointer;
}
.social-nav4 {
  justify-content: flex-end;
  gap: var(--gap-md);
}
.social-div3,
.social-nav4,
.wrapper-div13 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-div13 {
  width: 1168px;
  flex-shrink: 0;
  justify-content: space-between;
}
.social-div3 {
  align-self: stretch;
  background-color: var(--black);
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  justify-content: center;
}
.de-copa-div10,
.footer4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.footer4 {
  align-self: stretch;
}
.de-copa-div10 {
  position: relative;
  background-color: var(--black);
  width: 100%;
  text-align: left;
  font-size: var(--h4-size);
  color: var(--branding);
  font-family: var(--button);
}
@media screen and (max-width: 768px) {
  .desktop-nav4 {
    display: none;
  }
  .hamburguer-button4 {
    display: flex;
  }
  .wrap-div12 {
    width: 100%;
  }
  .header4 {
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .footer4,
  .more-pictures-section3,
  .wrap-div14,
  .wrapper-div12,
  .wrapper-div13 {
    width: 100%;
  }
}
@media screen and (max-width: 428px) {
  .logo-jogaai-icon7 {
    width: 168px;
    height: 24px;
  }
  .logo-div7 {
    padding-top: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .desktop-nav4 {
    display: none;
  }
  .button9 {
    width: 100%;
  }
  .icon-menu4 {
    width: 24px;
    height: 24px;
  }
  .hamburguer-button4 {
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .header4 {
    height: 56px;
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .button10 {
    width: 100%;
  }
  .thumb-div59 {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .div26 {
    flex-direction: column;
  }
  .thumb-div64 {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .div29 {
    flex-direction: column;
  }
  .more-pictures-section3 {
    padding: var(--padding-2xl);
    box-sizing: border-box;
  }
  .visit-now-button4,
  .visit-our-steam-workshop-and4 {
    width: 100%;
  }
  .frame-div14,
  .frame-div15 {
    width: 100%;
    text-align: center;
  }
  .frame-div14 {
    flex-direction: column;
  }
  .cta-section4 {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .about12,
  .staff4 {
    padding: var(--padding-lg) var(--padding-xl);
    box-sizing: border-box;
    border-left: 0;
    border-bottom: 1px solid var(--black);
  }
  .about-nav4 {
    width: 100%;
  }
  .de-rave6 {
    padding: var(--padding-lg) var(--padding-xl);
    box-sizing: border-box;
    border-left: 0;
    border-bottom: 1px solid var(--black);
  }
  .csgo-maps-nav4 {
    width: 100%;
  }
  .links-div9 {
    width: 100%;
    flex-direction: column;
    gap: var(--gap-md);
    flex: unset;
    align-self: stretch;
  }
  .the-internet-defense-league4 {
    width: 100%;
  }
  .wrapper-div12 {
    flex-direction: column;
    gap: var(--gap-md);
  }
  .links-div8 {
    padding: var(--padding-2xl);
    box-sizing: border-box;
  }
  .logo-jogaai-icon8 {
    width: 112px;
    height: 16px;
  }
  .logo-div8,
  .social-div3 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .logo-div8 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
  }
  .social-div3 {
    padding-left: var(--padding-xl);
  }
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.rectangle-div {
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--branding);
  width: 4px;
  height: 48px;
  flex-shrink: 0;
}
.frame-div2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-button,
.rectangle-div1 {
  align-self: stretch;
  display: none;
}
.rectangle-div1 {
  position: relative;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  background-color: var(--branding);
  width: 16px;
  flex-shrink: 0;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-dark);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.home-b1 {
  position: relative;
  display: inline-block;
}
.home-a,
.maps2 {
  text-decoration: none;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xl) var(--padding-3xs) 0;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--black);
}
.home-a {
  width: 204.2px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.maps2 {
  align-self: stretch;
  align-items: center;
}
.csgo-maps-div,
.de-sampa1,
.maps2 {
  display: flex;
  justify-content: flex-start;
}
.de-sampa1 {
  text-decoration: none;
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  color: inherit;
}
.csgo-maps-div {
  width: 204.2px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-0);
}
.links-div,
.staff-div1 {
  box-sizing: border-box;
  justify-content: flex-start;
}
.staff-div1 {
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  display: none;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xl);
  align-items: center;
  cursor: pointer;
  color: var(--branding);
}
.links-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-xs) 0;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.image-icon1,
.vector-icon1 {
  position: relative;
  flex-shrink: 0;
}
.image-icon1 {
  width: 25px;
  height: 20px;
  object-fit: cover;
  display: none;
}
.vector-icon1 {
  width: 19.8px;
  height: 19.8px;
}
.frame-div3,
.icon-close {
  display: flex;
  gap: var(--gap-0);
}
.icon-close {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-dark);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-div3 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.steam-logo-icon2 {
  position: relative;
  width: 159px;
  height: 48px;
  flex-shrink: 0;
}
.visit-our-steam-workshop-and-f {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.secondary-b5 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--branding);
  text-align: center;
}
.button1,
.frame-div4,
.steam-workshop-div {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md) var(--padding-3xl);
  background-color: var(--black);
  border-radius: var(--br-sm);
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.frame-div4,
.steam-workshop-div {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.steam-workshop-div {
  padding: var(--padding-xs);
  box-sizing: border-box;
  justify-content: flex-end;
}
.menu-responsive-sub-div,
.wrap-div1 {
  border-radius: var(--br-md) 0 0 var(--br-md);
  display: flex;
  align-items: flex-start;
}
.wrap-div1 {
  align-self: stretch;
  flex: 1;
  background-color: var(--branding);
  border-top: 0 solid var(--branding-light);
  border-right: 0 solid var(--branding-light);
  border-bottom: 0 solid var(--branding-light);
  border-left: 2px solid var(--branding-light);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-xl);
  justify-content: space-between;
}
.menu-responsive-sub-div {
  position: relative;
  background-color: var(--branding-dark);
  width: 328px;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-0);
  opacity: 0;
  max-width: 90%;
  text-align: left;
  font-size: var(--button-size);
  color: var(--grey-dark);
  font-family: var(--button);
}
.menu-responsive-sub-div.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
@media screen and (max-width: 428px) {
  .button1,
  .visit-our-steam-workshop-and-f {
    width: 100%;
  }
  .frame-div4,
  .steam-workshop-div {
    width: 100%;
    text-align: center;
  }
  .steam-workshop-div {
    flex-direction: column;
  }
}
