@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.bkg-div6,
.bkg-icon6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
}
.bkg-div6 {
  background-color: var(--color-gray-400);
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.1) inset;
}
.bkg-icon6 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bubble-div6 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
.logo-jogaai-icon3 {
  width: 224.53px;
  height: 31.93px;
  flex-shrink: 0;
}
.logo-button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-lg) var(--padding-lg) 0;
  background-color: var(--gradient-dark);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.home-div3 {
  position: relative;
  font-size: var(--text-size);
  font-family: var(--h1);
  text-align: left;
  display: inline-block;
}
.home-div3,
.menu-home-a2 {
  color: var(--branding);
}
.menu-de-copa2,
.menu-de-sampa3,
.menu-home-a2 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.menu-de-copa2 {
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
}
.de-rave-b {
  position: relative;
  font-size: var(--text-size);
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding-light);
  text-align: left;
}
.menu-cs-parking2,
.menu-de-rave-span {
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  justify-content: center;
}
.menu-de-rave-span {
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-lg);
  align-items: center;
}
.menu-cs-parking2 {
  text-decoration: none;
  padding: var(--padding-2xs) 0 var(--padding-2xs) var(--padding-lg);
  cursor: pointer;
}
.content-div10,
.desktop-nav3,
.menu-cs-parking2,
.nav3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.desktop-nav3 {
  justify-content: flex-end;
  gap: var(--gap-0);
}
.content-div10,
.nav3 {
  justify-content: flex-start;
}
.content-div10 {
  width: 1168px;
  flex-shrink: 0;
  justify-content: space-between;
}
.icon-menu3 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.hamburguer-button3,
.header3 {
  flex-direction: row;
  box-sizing: border-box;
}
.hamburguer-button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg);
  background-color: var(--gradient-dark);
  background: linear-gradient(135deg, #222, #191919);
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
}
.header3 {
  align-self: stretch;
  background-color: var(--grey-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 0 var(--padding-2xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-0);
  position: fixed;
  width: 100vw;
  z-index: 99;
}
.thumb-icon6 {
  flex: 1;
  position: relative;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  height: 312px;
  object-fit: cover;
  cursor: pointer;
}
.text-p7,
.title-h27 {
  margin: 0;
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.title-h27 {
  font-size: var(--h1-size);
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  color: var(--grey-light);
}
.text-p7 {
  letter-spacing: 0.05em;
  line-height: 150%;
}
.text-div7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--text);
}
.authors-h47,
.value-div21 {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
}
.authors-h47 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.value-div21 {
  font-size: var(--font-size-sm);
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--text);
  color: var(--branding-dark);
  text-align: left;
}
.tag-mataleone7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xs);
  background-color: var(--grey-light);
  border-radius: var(--br-xs);
  display: none;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.tag-kurtabble7:hover,
.tag-mataleone7:hover {
  background-color: var(--white);
}
.value-div22 {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  line-height: 124%;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--text);
  color: var(--branding-dark);
  text-align: left;
  display: inline-block;
}
.authors-div11,
.tag-kurtabble7,
.tags-div7 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.tag-kurtabble7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xs);
  background-color: var(--grey-light);
  border-radius: var(--br-xs);
  box-sizing: border-box;
  align-items: center;
}
.authors-div11,
.tags-div7 {
  align-items: flex-start;
  gap: var(--gap-sm);
}
.authors-div11 {
  flex-direction: column;
}
.secondary-b8 {
  position: relative;
  font-size: var(--text-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding);
  text-align: center;
}
.more-info-button7 {
  cursor: pointer;
  border: 1px solid var(--branding);
  padding: var(--padding-2xs) var(--padding-md);
  background-color: var(--gradient-dark);
  border-radius: var(--br-sm);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.more-info-button7:hover {
  border: 1px solid var(--branding-dark);
  box-sizing: border-box;
}
.primary-b10 {
  position: relative;
  font-size: var(--text-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--h1);
  color: var(--white);
  text-align: center;
}
.play-now-button7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-md);
  background-color: var(--branding);
  border-radius: var(--br-sm);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.play-now-button7:hover {
  background-color: var(--branding-dark);
}
.actions-div7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.content-div11 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lg);
}
.container-de-rave1,
.content-div11,
.wrap-article7 {
  display: flex;
  justify-content: flex-start;
}
.wrap-article7 {
  width: 1168px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-size);
  color: var(--white);
  font-family: var(--h1);
}
.container-de-rave1 {
  align-self: stretch;
  background-color: var(--black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  padding: var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
}
.more-pictures-h22 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  line-height: 135%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.de-sampa-3-icon6 {
  flex: 1;
  position: relative;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  height: 202px;
  object-fit: cover;
  cursor: pointer;
}
.de-sampa-3-icon6:hover {
  border: 2px solid var(--branding-dark);
  box-sizing: border-box;
}
.frame-div17,
.main3,
.more-pictures-section2 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.frame-div17 {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-lg);
}
.main3,
.more-pictures-section2 {
  flex-direction: column;
}
.more-pictures-section2 {
  padding: 0 var(--padding-2xl) var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--h2-size);
  color: var(--white);
  font-family: var(--h1);
}
.main3 {
  align-items: flex-start;
  gap: var(--gap-0);
}
.steam-logo-icon8,
.steam-logo-icon9 {
  position: relative;
  width: 265px;
  height: 80px;
  flex-shrink: 0;
}
.steam-logo-icon9 {
  width: 266px;
  object-fit: cover;
  display: none;
}
.visit-our-steam3 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.and-favorite-our3 {
  margin: 0;
}
.visit-our-steam-workshop-and3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  line-height: 135%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.primary-b11 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding);
  text-align: center;
}
.frame-div22,
.visit-now-button3 {
  display: flex;
  justify-content: center;
}
.visit-now-button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-xl);
  background-color: var(--white);
  border-radius: var(--br-sm);
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.visit-now-button3:hover {
  background-color: var(--grey-light);
}
.frame-div22 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.cta-section3,
.frame-div21 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-div21 {
  flex-direction: row;
  gap: var(--gap-lg);
}
.cta-section3 {
  align-self: stretch;
  background-color: var(--branding-dark);
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-2xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h2-size);
  color: var(--white);
  font-family: var(--h1);
}
.bubble-div7 {
  position: relative;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  display: none;
}
.about12 {
  position: relative;
  font-size: var(--text-size);
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding);
  text-align: left;
}
.about11,
.staff-div8 {
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.about11 {
  text-decoration: none;
  display: flex;
}
.staff-div8 {
  display: none;
}
.about-div4,
.csgo-maps-div4,
.links-nav3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-0);
}
.csgo-maps-div4,
.links-nav3 {
  justify-content: flex-start;
}
.links-nav3 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-xl);
}
.shield-badge-1-icon3 {
  position: relative;
  width: 192px;
  height: 192px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.frame-div23 {
  justify-content: center;
  cursor: pointer;
}
.frame-div23,
.links-footer3,
.wrapper-div6 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-div6 {
  width: 1168px;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.links-footer3 {
  align-self: stretch;
  background-color: var(--grey-dark);
  padding: var(--padding-2xl);
  box-sizing: border-box;
  justify-content: center;
}
.logo-icon3 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.steam-icon6,
.steam-icon7 {
  position: relative;
  height: 24px;
  flex-shrink: 0;
}
.steam-icon6 {
  width: 23.91px;
  cursor: pointer;
}
.steam-icon7 {
  width: 24px;
  object-fit: cover;
  display: none;
}
.twitter-icon6 {
  height: 19.5px;
  cursor: pointer;
}
.instagram-icon6,
.twitter-icon6,
.twitter-icon7 {
  position: relative;
  width: 24px;
  flex-shrink: 0;
}
.twitter-icon7 {
  height: 20px;
  object-fit: cover;
  display: none;
}
.instagram-icon6 {
  height: 24px;
  cursor: pointer;
}
.social-nav3 {
  justify-content: flex-end;
  gap: var(--gap-md);
}
.social-footer3,
.social-nav3,
.wrapper-div7 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-div7 {
  width: 1168px;
  flex-shrink: 0;
  justify-content: space-between;
}
.social-footer3 {
  align-self: stretch;
  background-color: var(--black);
  padding: 0 var(--padding-2xl);
  box-sizing: border-box;
  justify-content: center;
}
.de-rave-div7,
.footer-div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-0);
}
.footer-div3 {
  align-self: stretch;
  justify-content: center;
}
.de-rave-div7 {
  position: relative;
  background-color: var(--black);
  width: 100%;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .desktop-nav3 {
    display: none;
  }
  .content-div10 {
    width: 100%;
  }
  .hamburguer-button3 {
    display: flex;
  }
  .header3 {
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .wrap-article7,
  .wrapper-div6,
  .wrapper-div7 {
    width: 100%;
  }
}
@media screen and (max-width: 428px) {
  .logo-jogaai-icon3 {
    width: 168px;
    height: 24px;
  }
  .logo-button3 {
    padding: var(--padding-md);
    box-sizing: border-box;
  }
  .desktop-nav3 {
    display: none;
  }
  .icon-menu3 {
    width: 24px;
    height: 24px;
  }
  .hamburguer-button3 {
    padding: var(--padding-md);
    box-sizing: border-box;
  }
  .header3 {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
  }
  .thumb-icon6 {
    display: none;
    flex: unset;
    align-self: stretch;
  }
  .actions-div7,
  .more-info-button7,
  .play-now-button7 {
    width: 100%;
  }
  .content-div11 {
    flex: unset;
    align-self: stretch;
  }
  .wrap-article7 {
    width: 100%;
    flex-direction: column;
  }
  .container-de-rave1 {
    padding: var(--padding-lg);
    box-sizing: border-box;
  }
  .de-sampa-3-icon6 {
    flex: unset;
    align-self: stretch;
  }
  .frame-div17 {
    flex-direction: column;
  }
  .more-pictures-section2 {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    padding-bottom: var(--padding-lg);
    box-sizing: border-box;
  }
  .visit-now-button3,
  .visit-our-steam-workshop-and3 {
    width: 100%;
  }
  .frame-div21,
  .frame-div22 {
    width: 100%;
    text-align: center;
  }
  .frame-div21 {
    flex-direction: column;
  }
  .cta-section3 {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
  }
  .links-nav3 {
    flex-direction: column;
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .frame-div23,
  .wrapper-div6 {
    width: 100%;
    text-align: center;
  }
  .wrapper-div6 {
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .links-footer3 {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
  }
  .wrapper-div7 {
    width: 100%;
  }
  .social-footer3 {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
    gap: var(--gap-md);
  }
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.rectangle-div {
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--branding);
  width: 4px;
  height: 48px;
  flex-shrink: 0;
}
.frame-div3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 14px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.rectangle-div1 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  background-color: var(--branding);
  width: 16px;
  flex-shrink: 0;
  display: none;
}
.frame-button,
.home-a,
.maps2 {
  flex-direction: row;
  cursor: pointer;
}
.frame-button {
  border: 0;
  padding: 0;
  background-color: var(--gradient-dark);
  align-self: stretch;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.home-a,
.maps2 {
  text-decoration: none;
  padding: var(--padding-2xs) var(--padding-lg) var(--padding-2xs) 0;
  box-sizing: border-box;
  color: var(--black);
}
.home-a {
  width: 204.2px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.maps2 {
  align-self: stretch;
  align-items: center;
}
.csgo-maps-div1,
.de-sampa1,
.maps2 {
  display: flex;
  justify-content: flex-start;
}
.de-sampa1 {
  text-decoration: none;
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  color: inherit;
}
.csgo-maps-div1 {
  width: 204.2px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-0);
}
.about-us {
  position: relative;
  display: inline-block;
}
.links-div,
.staff-div2 {
  box-sizing: border-box;
  justify-content: flex-start;
}
.staff-div2 {
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  display: none;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-lg);
  align-items: center;
  cursor: pointer;
  color: var(--branding);
}
.links-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-xs) 0;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.image-icon1,
.vector-icon1 {
  position: relative;
  flex-shrink: 0;
}
.image-icon1 {
  width: 25px;
  height: 20px;
  object-fit: cover;
  display: none;
}
.vector-icon1 {
  width: 19.8px;
  height: 19.8px;
}
.frame-div4,
.icon-close {
  display: flex;
  gap: var(--gap-0);
}
.icon-close {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-dark);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-div4 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.steam-logo-icon2,
.steam-logo-icon3 {
  position: relative;
  width: 159px;
  height: 48px;
  flex-shrink: 0;
}
.steam-logo-icon3 {
  width: 266px;
  height: 80px;
  object-fit: cover;
  display: none;
}
.visit-our-steam-workshop-and-f {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.secondary-b5 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding);
  text-align: center;
}
.button,
.frame-div5,
.steam-workshop-div {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-xl);
  background-color: var(--black);
  border-radius: var(--br-sm);
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.frame-div5,
.steam-workshop-div {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.steam-workshop-div {
  padding: var(--padding-xs);
  box-sizing: border-box;
  justify-content: flex-end;
}
.menu-responsive-div,
.wrap-div {
  border-radius: var(--br-md) 0 0 var(--br-md);
  display: flex;
  align-items: flex-start;
}
.wrap-div {
  align-self: stretch;
  flex: 1;
  background-color: var(--branding);
  border-top: 0 solid var(--branding-light);
  border-right: 0 solid var(--branding-light);
  border-bottom: 0 solid var(--branding-light);
  border-left: 2px solid var(--branding-light);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-md);
  justify-content: space-between;
}
.menu-responsive-div {
  position: relative;
  background-color: var(--branding-dark);
  width: 328px;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-0);
  opacity: 0;
  max-width: 90%;
  text-align: left;
  font-size: var(--text-size);
  color: var(--grey-dark);
  font-family: var(--h1);
}
.menu-responsive-div.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
@media screen and (max-width: 428px) {
  .button,
  .visit-our-steam-workshop-and-f {
    width: 100%;
  }
  .frame-div5,
  .steam-workshop-div {
    width: 100%;
    text-align: center;
  }
  .steam-workshop-div {
    flex-direction: column;
  }
}
