@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.logo-jogaai-icon3 {
  position: relative;
  width: 224px;
  height: 32px;
  flex-shrink: 0;
}
.logo-div3 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-2xl) var(--padding-2xl) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.home-div3 {
  position: relative;
  font-size: var(--button-size);
  font-family: var(--button);
  color: var(--branding);
  text-align: left;
  display: inline-block;
}
.menu-home-a1 {
  text-decoration: none;
  color: var(--branding);
  cursor: pointer;
}
.menu-de-copa2,
.menu-de-sampa-span1,
.menu-home-a1 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.menu-de-copa2 {
  text-decoration: none;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
}
.de-rave-b {
  position: relative;
  font-size: var(--button-size);
  display: inline-block;
  font-family: var(--button);
  color: var(--branding-light);
  text-align: left;
}
.desktop-nav2,
.menu-cs-parking2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-cs-parking2 {
  text-decoration: none;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  padding: var(--padding-3xs) 0 var(--padding-3xs) var(--padding-xl);
  justify-content: center;
}
.desktop-nav2 {
  justify-content: flex-end;
  gap: var(--gap-0);
}
.primary-b10 {
  position: relative;
  font-size: var(--button-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--white);
  text-align: center;
}
.button5,
.nav2 {
  flex-direction: row;
  align-items: center;
}
.button5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--branding);
  border-radius: var(--br-sm);
  display: none;
  box-sizing: border-box;
  justify-content: center;
}
.nav2 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.icon-menu2 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.hamburguer-button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xl);
  background-color: var(--gradient-dark);
  background: linear-gradient(135deg, #222, #191919);
  border-top: 0 solid var(--grey-dark);
  border-right: 0 solid var(--grey-dark);
  border-bottom: 0 solid var(--grey-dark);
  border-left: 1px solid var(--grey-dark);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header2,
.wrap-div6 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrap-div6 {
  width: 1168px;
  justify-content: space-between;
}
.header2 {
  background-color: var(--black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 80px;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  justify-content: center;
  position: fixed;
  z-index: 99;
}
.home-div4 {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
}
.home-a3 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-xs) var(--padding-sm) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: inherit;
}
.div8 {
  position: relative;
  letter-spacing: 0.05em;
  color: var(--branding-dark);
  display: inline-block;
}
.level-2-a1,
.level-3-span1 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.level-2-a1 {
  text-decoration: none;
  color: inherit;
}
.level-3-span1 {
  color: var(--branding-light);
}
.breadcrumb-div1,
.wrapper-div5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-div5 {
  width: 1168px;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.breadcrumb-div1 {
  align-self: stretch;
  background-color: var(--branding-darkest);
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  justify-content: center;
}
.icons-left1 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  cursor: pointer;
}
.left-a1 {
  text-decoration: none;
  align-self: stretch;
  background-color: var(--color-gray-600);
  width: 56px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title-h12 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.another-brazilian-csgo2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.a-map-for2 {
  margin: 0;
}
.text-txt-span1 {
  line-break: anywhere;
  width: 100%;
}
.text-h32 {
  margin: 0;
  position: relative;
  font-size: var(--button-size);
  letter-spacing: 0.05em;
  line-height: 150%;
  font-weight: 400;
  font-family: var(--text);
  display: flex;
  align-items: center;
  width: 584px;
}
.text-div6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.authors-h46,
.value-div18 {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
}
.authors-h46 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.value-div18 {
  font-size: var(--font-size-xs);
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--text);
  color: var(--branding-dark);
  text-align: left;
}
.tag-mataleone6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xs);
  background-color: var(--grey-light);
  border-radius: var(--br-xs);
  display: none;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.tag-kurtabble6:hover,
.tag-mataleone6:hover {
  background-color: var(--white);
}
.value-div19 {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.05em;
  line-height: 124%;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--text);
  color: var(--branding-dark);
  text-align: left;
  display: inline-block;
}
.tag-kurtabble6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xs);
  background-color: var(--grey-light);
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.authors-div10,
.line-div1,
.tags-div6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tags-div6 {
  flex-direction: row;
  gap: var(--gap-sm);
}
.authors-div10,
.line-div1 {
  flex-direction: column;
}
.authors-div10 {
  gap: var(--gap-sm);
  font-size: var(--button-size);
}
.line-div1 {
  align-self: stretch;
  gap: var(--gap-md);
}
.primary-b11 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--white);
  text-align: center;
}
.button6,
.column-div2 {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}
.button6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md) var(--padding-3xl);
  background-color: var(--branding);
  border-radius: var(--br-sm);
  flex-direction: row;
  align-items: center;
}
.column-div2 {
  align-self: stretch;
  flex: 1;
  background: linear-gradient(
    90deg,
    rgba(25, 25, 25, 0.5),
    rgba(25, 25, 25, 0)
  );
  flex-direction: column;
  padding: var(--padding-4xl) 0;
  align-items: flex-start;
  gap: var(--gap-lg);
}
.map-logo-icon1 {
  position: relative;
  width: 182px;
  height: 182px;
  flex-shrink: 0;
  object-fit: cover;
}
.column-div3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-div1,
.right-a1,
.wrap-div7 {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}
.wrap-div7 {
  width: 1168px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.hero-div1,
.right-a1 {
  justify-content: center;
}
.right-a1 {
  text-decoration: none;
  width: 56px;
  align-items: center;
}
.hero-div1 {
  height: 464px;
  align-items: flex-start;
  gap: var(--gap-0);
  background-image: url(./assets/hero2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--h1-size);
  color: var(--white);
}
.more-pictures-h21 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  line-height: 135%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.thumb-icon18 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.thumb-div23 {
  flex: 1;
  position: relative;
  border-radius: var(--br-sm);
  border: 2px solid var(--branding);
  box-sizing: border-box;
  height: 202px;
  overflow: hidden;
}
.thumb-div23:hover,
.thumb-div25,
.thumb-div25:hover {
  border: 2px solid var(--color-green-200);
  box-sizing: border-box;
}
.thumb-div25 {
  flex: 1;
  position: relative;
  border-radius: var(--br-sm);
  border: 2px solid var(--branding);
  height: 202px;
  overflow: hidden;
  display: none;
}
.div10,
.div15 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.div10 {
  display: flex;
}
.div15 {
  display: none;
}
.more-pictures-section1,
.wrap-div8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.wrap-div8 {
  width: 1168px;
  gap: var(--gap-lg);
}
.more-pictures-section1 {
  align-self: stretch;
  padding: var(--padding-4xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h2-size);
  color: var(--white);
  font-family: var(--button);
}
.steam-logo-icon6,
.steam-logo-icon7 {
  position: relative;
  width: 265px;
  height: 80px;
  flex-shrink: 0;
}
.steam-logo-icon7 {
  width: 266px;
  object-fit: cover;
  display: none;
}
.visit-our-steam-workshop-and2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  line-height: 135%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.primary-b12 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--branding);
  text-align: center;
}
.visit-now-button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md) var(--padding-3xl);
  background-color: var(--white);
  border-radius: var(--br-sm);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.visit-now-button2:hover {
  background-color: var(--grey-light);
}
.frame-div10,
.frame-div11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-sm);
}
.frame-div10 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-lg);
}
.about-us4,
.cta-section2 {
  font-family: var(--button);
  text-align: left;
}
.cta-section2 {
  align-self: stretch;
  background-color: var(--branding-dark);
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-4xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--h2-size);
  color: var(--white);
}
.about-us4 {
  position: relative;
  font-size: var(--button-size);
  display: inline-block;
  color: var(--branding);
}
.about8,
.staff2 {
  text-decoration: none;
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xl);
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.about8 {
  display: flex;
}
.staff2 {
  display: none;
}
.about-nav2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-0);
}
.csgo-maps-nav2,
.de-rave4,
.links-div5 {
  display: flex;
  justify-content: flex-start;
}
.de-rave4 {
  text-decoration: none;
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-2xl) var(--padding-3xs);
  align-items: center;
  cursor: pointer;
}
.csgo-maps-nav2,
.links-div5 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-0);
}
.links-div5 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-xl);
}
.the-internet-defense-league-th-icon2 {
  position: relative;
  width: 192px;
  height: 192px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.the-internet-defense-league2 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.links-div4,
.wrapper-div6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.wrapper-div6 {
  width: 1168px;
  flex-shrink: 0;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.links-div4 {
  align-self: stretch;
  background-color: var(--grey-dark);
  padding: var(--padding-4xl);
  box-sizing: border-box;
  align-items: center;
}
.logo-jogaai-icon4 {
  position: relative;
  width: 168px;
  height: 24px;
  flex-shrink: 0;
  object-fit: cover;
}
.logo-div4 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-2xl) var(--padding-2xl) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.steam-icon4,
.steam-icon5 {
  position: relative;
  height: 24px;
  flex-shrink: 0;
}
.steam-icon4 {
  width: 23.91px;
  cursor: pointer;
}
.steam-icon5 {
  width: 24px;
  object-fit: cover;
  display: none;
}
.twitter-icon4 {
  height: 19.5px;
  cursor: pointer;
}
.instagram-icon4,
.twitter-icon4,
.twitter-icon5 {
  position: relative;
  width: 24px;
  flex-shrink: 0;
}
.twitter-icon5 {
  height: 20px;
  object-fit: cover;
  display: none;
}
.instagram-icon4 {
  height: 24px;
  cursor: pointer;
}
.social-div1,
.social-nav2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-nav2 {
  justify-content: flex-end;
  gap: var(--gap-md);
}
.social-div1 {
  align-self: stretch;
  background-color: var(--black);
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  justify-content: center;
}
.de-rave-div6,
.footer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.footer2 {
  align-self: stretch;
}
.de-rave-div6 {
  position: relative;
  background-color: var(--black);
  width: 100%;
  text-align: left;
  font-size: var(--h4-size);
  color: var(--branding);
  font-family: var(--button);
}
@media screen and (max-width: 768px) {
  .desktop-nav2 {
    display: none;
  }
  .hamburguer-button2 {
    display: flex;
  }
  .wrap-div6 {
    width: 100%;
  }
  .header2 {
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .footer2,
  .more-pictures-section1,
  .wrap-div8,
  .wrapper-div6 {
    width: 100%;
  }
}
@media screen and (max-width: 428px) {
  .logo-jogaai-icon3 {
    width: 168px;
    height: 24px;
  }
  .logo-div3 {
    padding-top: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .desktop-nav2 {
    display: none;
  }
  .button5 {
    width: 100%;
  }
  .icon-menu2 {
    width: 24px;
    height: 24px;
  }
  .hamburguer-button2 {
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .header2 {
    height: 56px;
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .button6 {
    width: 100%;
  }
  .thumb-div23,
  .thumb-div25 {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .div10,
  .div15 {
    flex-direction: column;
  }
  .more-pictures-section1 {
    padding: var(--padding-2xl);
    box-sizing: border-box;
  }
  .visit-now-button2,
  .visit-our-steam-workshop-and2 {
    width: 100%;
  }
  .frame-div10,
  .frame-div11 {
    width: 100%;
    text-align: center;
  }
  .frame-div10 {
    flex-direction: column;
  }
  .cta-section2 {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .about8,
  .staff2 {
    padding: var(--padding-lg) var(--padding-xl);
    box-sizing: border-box;
    border-left: 0;
    border-bottom: 1px solid var(--black);
  }
  .about-nav2 {
    width: 100%;
  }
  .de-rave4 {
    padding: var(--padding-lg) var(--padding-xl);
    box-sizing: border-box;
    border-left: 0;
    border-bottom: 1px solid var(--black);
  }
  .csgo-maps-nav2 {
    width: 100%;
  }
  .links-div5 {
    width: 100%;
    flex-direction: column;
    gap: var(--gap-md);
    flex: unset;
    align-self: stretch;
  }
  .the-internet-defense-league2 {
    width: 100%;
  }
  .wrapper-div6 {
    flex-direction: column;
    gap: var(--gap-md);
  }
  .links-div4 {
    padding: var(--padding-2xl);
    box-sizing: border-box;
  }
  .logo-jogaai-icon4 {
    width: 112px;
    height: 16px;
  }
  .logo-div4,
  .social-div1 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .logo-div4 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
  }
  .social-div1 {
    padding-left: var(--padding-xl);
  }
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.rectangle-div {
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--branding);
  width: 4px;
  height: 48px;
  flex-shrink: 0;
}
.frame-div2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-button,
.rectangle-div1 {
  align-self: stretch;
  display: none;
}
.rectangle-div1 {
  position: relative;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  background-color: var(--branding);
  width: 16px;
  flex-shrink: 0;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-dark);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.home-b1 {
  position: relative;
  display: inline-block;
}
.home-a,
.maps2 {
  text-decoration: none;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xl) var(--padding-3xs) 0;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--black);
}
.home-a {
  width: 204.2px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.maps2 {
  align-self: stretch;
  align-items: center;
}
.csgo-maps-div,
.de-sampa1,
.maps2 {
  display: flex;
  justify-content: flex-start;
}
.de-sampa1 {
  text-decoration: none;
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  color: inherit;
}
.csgo-maps-div {
  width: 204.2px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-0);
}
.links-div,
.staff-div1 {
  box-sizing: border-box;
  justify-content: flex-start;
}
.staff-div1 {
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  display: none;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xl);
  align-items: center;
  cursor: pointer;
  color: var(--branding);
}
.links-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-xs) 0;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.image-icon1,
.vector-icon1 {
  position: relative;
  flex-shrink: 0;
}
.image-icon1 {
  width: 25px;
  height: 20px;
  object-fit: cover;
  display: none;
}
.vector-icon1 {
  width: 19.8px;
  height: 19.8px;
}
.frame-div3,
.icon-close {
  display: flex;
  gap: var(--gap-0);
}
.icon-close {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-dark);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-div3 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.steam-logo-icon2 {
  position: relative;
  width: 159px;
  height: 48px;
  flex-shrink: 0;
}
.visit-our-steam-workshop-and-f {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.secondary-b5 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--branding);
  text-align: center;
}
.button1,
.frame-div4,
.steam-workshop-div {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md) var(--padding-3xl);
  background-color: var(--black);
  border-radius: var(--br-sm);
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.frame-div4,
.steam-workshop-div {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.steam-workshop-div {
  padding: var(--padding-xs);
  box-sizing: border-box;
  justify-content: flex-end;
}
.menu-responsive-sub-div,
.wrap-div1 {
  border-radius: var(--br-md) 0 0 var(--br-md);
  display: flex;
  align-items: flex-start;
}
.wrap-div1 {
  align-self: stretch;
  flex: 1;
  background-color: var(--branding);
  border-top: 0 solid var(--branding-light);
  border-right: 0 solid var(--branding-light);
  border-bottom: 0 solid var(--branding-light);
  border-left: 2px solid var(--branding-light);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-xl);
  justify-content: space-between;
}
.menu-responsive-sub-div {
  position: relative;
  background-color: var(--branding-dark);
  width: 328px;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-0);
  opacity: 0;
  max-width: 90%;
  text-align: left;
  font-size: var(--button-size);
  color: var(--grey-dark);
  font-family: var(--button);
}
.menu-responsive-sub-div.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
@media screen and (max-width: 428px) {
  .button1,
  .visit-our-steam-workshop-and-f {
    width: 100%;
  }
  .frame-div4,
  .steam-workshop-div {
    width: 100%;
    text-align: center;
  }
  .steam-workshop-div {
    flex-direction: column;
  }
}
