@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.logo-jogaai-icon9 {
  position: relative;
  width: 224px;
  height: 32px;
  flex-shrink: 0;
}
.logo-div9 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-2xl) var(--padding-2xl) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.home-div9 {
  position: relative;
  font-size: var(--button-size);
  font-family: var(--button);
  color: var(--branding);
  text-align: left;
  display: inline-block;
}
.menu-home-a4 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: var(--branding);
  cursor: pointer;
}
.de-sampa-b {
  position: relative;
  font-size: var(--button-size);
  display: inline-block;
  font-family: var(--button);
  color: var(--branding-light);
  text-align: left;
}
.menu-de-copa5,
.menu-de-sampa-span4 {
  box-sizing: border-box;
  padding: var(--padding-3xs) var(--padding-xl);
  justify-content: center;
}
.menu-de-sampa-span4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.menu-de-copa5 {
  text-decoration: none;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
}
.desktop-nav5,
.menu-cs-parking5,
.menu-de-copa5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-cs-parking5 {
  text-decoration: none;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  padding: var(--padding-3xs) 0 var(--padding-3xs) var(--padding-xl);
  justify-content: center;
}
.desktop-nav5 {
  justify-content: flex-end;
  gap: var(--gap-0);
}
.primary-b19 {
  position: relative;
  font-size: var(--button-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--white);
  text-align: center;
}
.button11,
.nav5 {
  flex-direction: row;
  align-items: center;
}
.button11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--branding);
  border-radius: var(--br-sm);
  display: none;
  box-sizing: border-box;
  justify-content: center;
}
.nav5 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.icon-menu5 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.hamburguer-button5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xl);
  background-color: var(--gradient-dark);
  background: linear-gradient(135deg, #222, #191919);
  border-top: 0 solid var(--grey-dark);
  border-right: 0 solid var(--grey-dark);
  border-bottom: 0 solid var(--grey-dark);
  border-left: 1px solid var(--grey-dark);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header5,
.wrap-div15 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrap-div15 {
  width: 1168px;
  justify-content: space-between;
}
.header5 {
  background-color: var(--black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 80px;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  justify-content: center;
  position: fixed;
  z-index: 99;
}
.home-div10 {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
}
.home-a6 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-xs) var(--padding-sm) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: inherit;
}
.div32 {
  position: relative;
  letter-spacing: 0.05em;
  color: var(--branding-dark);
  display: inline-block;
}
.level-2-a4,
.level-3-span4 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.level-2-a4 {
  text-decoration: none;
  color: inherit;
}
.level-3-span4 {
  color: var(--branding-light);
}
.breadcrumb-div4,
.wrapper-div14 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-div14 {
  width: 1168px;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.breadcrumb-div4 {
  align-self: stretch;
  background-color: var(--branding-darkest);
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  justify-content: center;
}
.icons-left4 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  cursor: pointer;
}
.left-a4 {
  text-decoration: none;
  align-self: stretch;
  background-color: var(--color-gray-600);
  width: 56px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.text-h35,
.title-h15 {
  margin: 0;
  position: relative;
  font-weight: 400;
}
.title-h15 {
  font-size: inherit;
  line-height: 100%;
  font-family: inherit;
  display: inline-block;
}
.text-h35 {
  font-size: var(--button-size);
  letter-spacing: 0.05em;
  line-height: 150%;
  font-family: var(--text);
  display: flex;
  align-items: center;
  width: 584px;
}
.text-div9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.authors-h49,
.value-div27 {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
}
.authors-h49 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.value-div27 {
  font-size: var(--font-size-xs);
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--text);
  color: var(--branding-dark);
  text-align: left;
}
.tag-mataleone9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xs);
  background-color: var(--grey-light);
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.tag-mataleone9:hover {
  background-color: var(--white);
}
.value-div28 {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.05em;
  line-height: 124%;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--text);
  color: var(--branding-dark);
  text-align: left;
  display: inline-block;
}
.authors-div16,
.line-div4,
.tags-div9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tags-div9 {
  flex-direction: row;
  gap: var(--gap-sm);
}
.authors-div16,
.line-div4 {
  flex-direction: column;
}
.authors-div16 {
  gap: var(--gap-sm);
  font-size: var(--button-size);
}
.line-div4 {
  align-self: stretch;
  gap: var(--gap-md);
}
.primary-b20 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--white);
  text-align: center;
}
.button12,
.column-div8 {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}
.button12 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md) var(--padding-3xl);
  background-color: var(--branding);
  border-radius: var(--br-sm);
  flex-direction: row;
  align-items: center;
}
.column-div8 {
  align-self: stretch;
  flex: 1;
  background: linear-gradient(
    90deg,
    rgba(25, 25, 25, 0.5),
    rgba(25, 25, 25, 0)
  );
  flex-direction: column;
  padding: var(--padding-4xl) 0;
  align-items: flex-start;
  gap: var(--gap-lg);
}
.map-logo-icon4 {
  position: relative;
  width: 182px;
  height: 182px;
  flex-shrink: 0;
  object-fit: cover;
}
.column-div9 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-div4,
.right-a4,
.wrap-div16 {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}
.wrap-div16 {
  width: 1168px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.hero-div4,
.right-a4 {
  justify-content: center;
}
.right-a4 {
  text-decoration: none;
  width: 56px;
  align-items: center;
}
.hero-div4 {
  height: 464px;
  align-items: flex-start;
  gap: var(--gap-0);
  background-image: url(./assets/hero5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--h1-size);
  color: var(--white);
}
.de-sampa-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.thumb-div77 {
  position: relative;
  border-radius: var(--br-sm);
  border: 2px solid var(--branding);
  box-sizing: border-box;
  width: 556px;
  height: 312px;
  flex-shrink: 0;
  overflow: hidden;
}
.thumb-div77:hover {
  border: 2px solid var(--color-green-200);
  box-sizing: border-box;
}
.text-p5,
.title-h25 {
  margin: 0;
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.title-h25 {
  font-size: var(--h1-size);
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
}
.text-p5 {
  letter-spacing: 0.05em;
  line-height: 150%;
}
.text-div10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--text);
}
.secondary-b7 {
  position: relative;
  font-size: var(--button-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--branding);
  text-align: center;
}
.more-info-button5,
.play-now-button5 {
  cursor: pointer;
  padding: var(--padding-3xs) var(--padding-xl);
  border-radius: var(--br-sm);
  display: none;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.more-info-button5 {
  border: 1px solid var(--branding);
  background-color: var(--gradient-dark);
}
.more-info-button5:hover {
  border: 1px solid var(--branding-dark);
  box-sizing: border-box;
}
.play-now-button5 {
  border: 0;
  background-color: var(--branding);
}
.play-now-button5:hover {
  background-color: var(--branding-dark);
}
.actions-div5 {
  flex-direction: row;
  gap: var(--gap-md);
}
.actions-div5,
.content-div6,
.wrap-article5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-div6 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.wrap-article5 {
  width: 1168px;
  flex-direction: row;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--button-size);
  color: var(--white);
  font-family: var(--button);
}
.anchor-container-de-sampa1 {
  position: absolute;
  left: 0;
  top: -80px;
}
.container-de-sampa1 {
  align-self: stretch;
  background-color: var(--black);
  display: none;
  flex-direction: column;
  padding: 138px var(--padding-4xl) var(--padding-4xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.more-pictures-h24 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  line-height: 135%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.thumb-div78 {
  flex: 1;
  position: relative;
  border-radius: var(--br-sm);
  border: 2px solid var(--branding);
  box-sizing: border-box;
  height: 202px;
  overflow: hidden;
}
.thumb-div78:hover,
.thumb-div80,
.thumb-div80:hover {
  border: 2px solid var(--color-green-200);
  box-sizing: border-box;
}
.thumb-div80 {
  flex: 1;
  position: relative;
  border-radius: var(--br-sm);
  border: 2px solid var(--branding);
  height: 202px;
  overflow: hidden;
  display: none;
}
.div34,
.div38 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.div34 {
  display: flex;
}
.div38 {
  display: none;
}
.more-pictures-section4,
.wrap-div17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.wrap-div17 {
  width: 1168px;
  gap: var(--gap-lg);
}
.more-pictures-section4 {
  align-self: stretch;
  padding: var(--padding-4xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h2-size);
  color: var(--white);
  font-family: var(--button);
}
.steam-logo-icon12,
.steam-logo-icon13 {
  position: relative;
  width: 265px;
  height: 80px;
  flex-shrink: 0;
}
.steam-logo-icon13 {
  width: 266px;
  object-fit: cover;
  display: none;
}
.visit-our-steam5 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.and-favorite-our5 {
  margin: 0;
}
.visit-our-steam-workshop-and5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  line-height: 135%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.primary-b22 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--branding);
  text-align: center;
}
.visit-now-button5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md) var(--padding-3xl);
  background-color: var(--white);
  border-radius: var(--br-sm);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.visit-now-button5:hover {
  background-color: var(--grey-light);
}
.frame-div16,
.frame-div17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-sm);
}
.frame-div16 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-lg);
}
.about-us7,
.cta-section5 {
  font-family: var(--button);
  text-align: left;
}
.cta-section5 {
  align-self: stretch;
  background-color: var(--branding-dark);
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-4xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--h2-size);
  color: var(--white);
}
.about-us7 {
  position: relative;
  font-size: var(--button-size);
  display: inline-block;
  color: var(--branding);
}
.about14,
.staff5 {
  text-decoration: none;
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xl);
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.about14 {
  display: flex;
}
.staff5 {
  display: none;
}
.about-nav5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-0);
}
.de-rave7,
.de-sampa-span {
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xl);
  align-items: center;
  justify-content: flex-start;
}
.de-rave7 {
  text-decoration: none;
  padding: var(--padding-2xs) var(--padding-2xl) var(--padding-3xs);
  cursor: pointer;
}
.csgo-maps-nav5,
.links-div11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.links-div11 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-xl);
}
.the-internet-defense-league-th-icon5 {
  position: relative;
  width: 192px;
  height: 192px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.the-internet-defense-league5 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.links-div10,
.wrapper-div15 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.wrapper-div15 {
  width: 1168px;
  flex-shrink: 0;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.links-div10 {
  align-self: stretch;
  background-color: var(--grey-dark);
  padding: var(--padding-4xl);
  box-sizing: border-box;
  align-items: center;
}
.logo-jogaai-icon10 {
  position: relative;
  width: 168px;
  height: 24px;
  flex-shrink: 0;
  object-fit: cover;
}
.logo-div10 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-2xl) var(--padding-2xl) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.steam-icon10,
.steam-icon11 {
  position: relative;
  height: 24px;
  flex-shrink: 0;
}
.steam-icon10 {
  width: 23.91px;
  cursor: pointer;
}
.steam-icon11 {
  width: 24px;
  object-fit: cover;
  display: none;
}
.twitter-icon10 {
  height: 19.5px;
  cursor: pointer;
}
.instagram-icon10,
.twitter-icon10,
.twitter-icon11 {
  position: relative;
  width: 24px;
  flex-shrink: 0;
}
.twitter-icon11 {
  height: 20px;
  object-fit: cover;
  display: none;
}
.instagram-icon10 {
  height: 24px;
  cursor: pointer;
}
.social-div4,
.social-nav5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-nav5 {
  justify-content: flex-end;
  gap: var(--gap-md);
}
.social-div4 {
  align-self: stretch;
  background-color: var(--black);
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  justify-content: center;
}
.de-sampa-div12,
.footer5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.footer5 {
  align-self: stretch;
}
.de-sampa-div12 {
  position: relative;
  background-color: var(--black);
  width: 100%;
  text-align: left;
  font-size: var(--h4-size);
  color: var(--branding);
  font-family: var(--button);
}
@media screen and (max-width: 768px) {
  .desktop-nav5 {
    display: none;
  }
  .hamburguer-button5 {
    display: flex;
  }
  .wrap-div15 {
    width: 100%;
  }
  .header5 {
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .footer5,
  .more-pictures-section4,
  .wrap-article5,
  .wrap-div17,
  .wrapper-div15 {
    width: 100%;
  }
}
@media screen and (max-width: 428px) {
  .logo-jogaai-icon9 {
    width: 168px;
    height: 24px;
  }
  .logo-div9 {
    padding-top: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .desktop-nav5 {
    display: none;
  }
  .button11 {
    width: 100%;
  }
  .icon-menu5 {
    width: 24px;
    height: 24px;
  }
  .hamburguer-button5 {
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .header5 {
    height: 56px;
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .actions-div5,
  .button12,
  .more-info-button5,
  .play-now-button5,
  .thumb-div77 {
    width: 100%;
  }
  .content-div6 {
    flex: unset;
    align-self: stretch;
  }
  .wrap-article5 {
    width: 100%;
    flex-direction: column;
  }
  .container-de-sampa1 {
    padding: 80px var(--padding-2xl) var(--padding-2xl);
    box-sizing: border-box;
  }
  .thumb-div78,
  .thumb-div80 {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .div34,
  .div38 {
    flex-direction: column;
  }
  .more-pictures-section4 {
    padding: var(--padding-2xl);
    box-sizing: border-box;
  }
  .visit-now-button5,
  .visit-our-steam-workshop-and5 {
    width: 100%;
  }
  .frame-div16,
  .frame-div17 {
    width: 100%;
    text-align: center;
  }
  .frame-div16 {
    flex-direction: column;
  }
  .cta-section5 {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .about14,
  .staff5 {
    padding: var(--padding-lg) var(--padding-xl);
    box-sizing: border-box;
    border-left: 0;
    border-bottom: 1px solid var(--black);
  }
  .about-nav5 {
    width: 100%;
  }
  .de-rave7,
  .de-sampa-span {
    padding: var(--padding-lg) var(--padding-xl);
    box-sizing: border-box;
    border-left: 0;
    border-bottom: 1px solid var(--black);
  }
  .csgo-maps-nav5 {
    width: 100%;
  }
  .links-div11 {
    width: 100%;
    flex-direction: column;
    gap: var(--gap-md);
    flex: unset;
    align-self: stretch;
  }
  .the-internet-defense-league5 {
    width: 100%;
  }
  .wrapper-div15 {
    flex-direction: column;
    gap: var(--gap-md);
  }
  .links-div10 {
    padding: var(--padding-2xl);
    box-sizing: border-box;
  }
  .logo-jogaai-icon10 {
    width: 112px;
    height: 16px;
  }
  .logo-div10,
  .social-div4 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .logo-div10 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
  }
  .social-div4 {
    padding-left: var(--padding-xl);
  }
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.rectangle-div {
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--branding);
  width: 4px;
  height: 48px;
  flex-shrink: 0;
}
.frame-div2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-button,
.rectangle-div1 {
  align-self: stretch;
  display: none;
}
.rectangle-div1 {
  position: relative;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  background-color: var(--branding);
  width: 16px;
  flex-shrink: 0;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-dark);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.home-b1 {
  position: relative;
  display: inline-block;
}
.home-a,
.maps2 {
  text-decoration: none;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xl) var(--padding-3xs) 0;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--black);
}
.home-a {
  width: 204.2px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.maps2 {
  align-self: stretch;
  align-items: center;
}
.csgo-maps-div,
.de-sampa1,
.maps2 {
  display: flex;
  justify-content: flex-start;
}
.de-sampa1 {
  text-decoration: none;
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  color: inherit;
}
.csgo-maps-div {
  width: 204.2px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-0);
}
.links-div,
.staff-div1 {
  box-sizing: border-box;
  justify-content: flex-start;
}
.staff-div1 {
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  display: none;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xl);
  align-items: center;
  cursor: pointer;
  color: var(--branding);
}
.links-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-xs) 0;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.image-icon1,
.vector-icon1 {
  position: relative;
  flex-shrink: 0;
}
.image-icon1 {
  width: 25px;
  height: 20px;
  object-fit: cover;
  display: none;
}
.vector-icon1 {
  width: 19.8px;
  height: 19.8px;
}
.frame-div3,
.icon-close {
  display: flex;
  gap: var(--gap-0);
}
.icon-close {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-dark);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-div3 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.steam-logo-icon2 {
  position: relative;
  width: 159px;
  height: 48px;
  flex-shrink: 0;
}
.visit-our-steam-workshop-and-f {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.secondary-b5 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--branding);
  text-align: center;
}
.button1,
.frame-div4,
.steam-workshop-div {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md) var(--padding-3xl);
  background-color: var(--black);
  border-radius: var(--br-sm);
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.frame-div4,
.steam-workshop-div {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.steam-workshop-div {
  padding: var(--padding-xs);
  box-sizing: border-box;
  justify-content: flex-end;
}
.menu-responsive-sub-div,
.wrap-div1 {
  border-radius: var(--br-md) 0 0 var(--br-md);
  display: flex;
  align-items: flex-start;
}
.wrap-div1 {
  align-self: stretch;
  flex: 1;
  background-color: var(--branding);
  border-top: 0 solid var(--branding-light);
  border-right: 0 solid var(--branding-light);
  border-bottom: 0 solid var(--branding-light);
  border-left: 2px solid var(--branding-light);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-xl);
  justify-content: space-between;
}
.menu-responsive-sub-div {
  position: relative;
  background-color: var(--branding-dark);
  width: 328px;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-0);
  opacity: 0;
  max-width: 90%;
  text-align: left;
  font-size: var(--button-size);
  color: var(--grey-dark);
  font-family: var(--button);
}
.menu-responsive-sub-div.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
@media screen and (max-width: 428px) {
  .button1,
  .visit-our-steam-workshop-and-f {
    width: 100%;
  }
  .frame-div4,
  .steam-workshop-div {
    width: 100%;
    text-align: center;
  }
  .steam-workshop-div {
    flex-direction: column;
  }
}
