:root {
  /* fonts */
  --button: Goldman;
  --text: "Open Sans";

  /* font sizes */
  --font-size-xs: 10px;
  --h4-size: 12px;
  --button-size: 16px;
  --button-big-size: 20px;
  --h2-size: 24px;
  --h1-size: 48px;
  --hero-title-size: 80px;

  /* Colors */
  --grey-light: #dbdbdb;
  --grey-dark: #222;
  --black: #191919;
  --branding-darkest: rgba(28, 35, 1, 0.9);
  --color-gray-500: rgba(25, 25, 25, 0.5);
  --branding-light: #d3f93a;
  --branding: #a9d300;
  --branding-dark: #769400;
  --color-green-200: #769300;
  --white: #fff;

  /* Gaps */
  --gap-0: 0px;
  --gap-sm: 16px;
  --gap-md: 24px;
  --gap-lg: 32px;
  --gap-xl: 56px;

  /* Paddings */
  --padding-4xs: 2px;
  --padding-3xs: 6.5px;
  --padding-2xs: 6px;
  --padding-xs: 8px;
  --padding-sm: 9px;
  --padding-md: 12px;
  --padding-lg: 14px;
  --padding-xl: 16px;
  --padding-2xl: 24px;
  --padding-3xl: 32px;
  --padding-4xl: 56px;

  /* border radiuses */
  --br-xs: 2px;
  --br-sm: 4px;
  --br-md: 8px;
  --br-lg: 16px;
}
