:root {
  /* fonts */
  --h1: Goldman;
  --text: "Open Sans";

  /* font sizes */
  --font-size-sm: 10px;
  --text-size: 16px;
  --button-big-size: 20px;
  --h2-size: 24px;
  --h1-size: 48px;

  /* Colors */
  --grey-light: #dbdbdb;
  --grey-dark: #222;
  --black: #191919;
  --color-gray-400: rgba(34, 34, 34, 0.01);
  --branding-light: #d3f93a;
  --branding: #a9d300;
  --branding-dark: #769400;
  --color-green-200: #769300;
  --white: #fff;

  /* Gaps */
  --gap-0: 0px;
  --gap-sm: 16px;
  --gap-md: 24px;
  --gap-lg: 32px;
  --gap-xl: 56px;

  /* Paddings */
  --padding-5xs: 2px;
  --padding-4xs: 6.5px;
  --padding-3xs: 6px;
  --padding-2xs: 8px;
  --padding-xs: 12px;
  --padding-sm: 14px;
  --padding-md: 16px;
  --padding-lg: 24px;
  --padding-xl: 32px;
  --padding-2xl: 56px;
  --padding-3xl: 80px;
  --padding-4xl: 88px;
  --padding-5xl: 138px;

  /* border radiuses */
  --br-xs: 2px;
  --br-sm: 4px;
  --br-md: 8px;
  --br-lg: 16px;
}
