body {
  margin: 0;
  line-height: normal;
}
.bkg-div,
.bkg-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
}
.bkg-div {
  background-color: var(--color-gray-400);
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.1) inset;
}
.bkg-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bubble-div {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
.logo-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.home-b {
  position: relative;
  font-size: var(--text-size);
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding-light);
  text-align: left;
  cursor: pointer;
}
.frame-a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.de-sampa-div {
  position: relative;
  font-size: var(--text-size);
  font-family: var(--h1);
  color: var(--branding);
  text-align: left;
  display: inline-block;
}
.desktop-nav,
.frame-a1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-a1 {
  text-decoration: none;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  padding: var(--padding-2xs) var(--padding-md);
  justify-content: center;
  cursor: pointer;
}
.desktop-nav {
  justify-content: flex-end;
  gap: var(--gap-0);
}
.icon-menu {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.hamburguer-aside,
.nav {
  justify-content: flex-start;
}
.hamburguer-aside {
  background: linear-gradient(135deg, #222, #191919);
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md);
  align-items: flex-start;
  cursor: pointer;
}
.nav {
  align-items: center;
  gap: var(--gap-0);
}
.content-div,
.header,
.nav {
  display: flex;
  flex-direction: row;
}
.content-div {
  flex: 1;
  align-items: center;
  justify-content: space-between;
}
.header {
  align-self: stretch;
  background-color: var(--grey-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.csgo-p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.maps {
  margin: 0;
}
.csgo-maps-div,
.de-sampa-16-remake-and-much-m {
  position: relative;
  line-height: 80%;
  display: inline-block;
}
.de-sampa-16-remake-and-much-m {
  font-size: var(--h2-size);
  letter-spacing: 0.05em;
  line-height: 135%;
}
.title-div {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
}
.image-icon,
.vector-icon {
  position: relative;
  width: 16px;
  flex-shrink: 0;
}
.image-icon {
  height: 11px;
  object-fit: cover;
  display: none;
}
.vector-icon {
  height: 9.87px;
}
.hero-div,
.icons-expand-more {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-0);
}
.icons-expand-more {
  text-decoration: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.hero-div {
  align-self: stretch;
  height: 640px;
  padding: var(--padding-2xl) var(--padding-2xl) var(--padding-xl);
  box-sizing: border-box;
  background-image: url(./public/hero@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.de-sampa-2-icon {
  flex: 1;
  position: relative;
  border-radius: var(--br-md);
  max-width: 100%;
  overflow: hidden;
  height: 312px;
  object-fit: cover;
  cursor: pointer;
}
.de-sampa-2-icon:hover {
  border: 2px solid var(--branding-dark);
  box-sizing: border-box;
}
.text-div1,
.title-div1 {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.title-div1 {
  font-size: var(--h1-size);
  line-height: 100%;
}
.text-div1 {
  letter-spacing: 0.05em;
  line-height: 150%;
}
.text-div {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--text);
}
.authors-div1,
.value-div {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
}
.value-div {
  font-size: var(--font-size-sm);
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--text);
  color: var(--branding-dark);
  text-align: left;
}
.tag-mataleone {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xs);
  background-color: var(--grey-light);
  border-radius: var(--br-sm);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.tag-mataleone:hover {
  background-color: var(--white);
}
.value-div1 {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  line-height: 124%;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--text);
  color: var(--branding-dark);
  text-align: left;
  display: inline-block;
}
.authors-div,
.tags-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.authors-div {
  flex-direction: column;
}
.secondary-b {
  position: relative;
  font-size: var(--text-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding);
  text-align: left;
}
.more-info-button {
  cursor: pointer;
  border: 1px solid var(--branding);
  padding: var(--padding-2xs) var(--padding-sm);
  background-color: transparent;
  border-radius: var(--br-md);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.more-info-button:hover {
  border: 1px solid var(--branding-dark);
  box-sizing: border-box;
}
.primary-b {
  position: relative;
  font-size: var(--text-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--h1);
  color: var(--white);
  text-align: left;
}
.actions-div,
.play-now-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.play-now-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-sm);
  background-color: var(--branding);
  border-radius: var(--br-md);
  box-sizing: border-box;
}
.play-now-button:hover {
  background-color: var(--branding-dark);
}
.actions-div {
  gap: var(--gap-md);
}
.content-div1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lg);
}
.container-de-sampa,
.content-div1,
.wrap-article {
  display: flex;
  justify-content: flex-start;
}
.wrap-article {
  width: 1168px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-size);
  color: var(--white);
  font-family: var(--h1);
}
.container-de-sampa {
  background-color: var(--black);
  width: 1280px;
  flex-direction: column;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
}
.text-div3 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  display: inline-block;
}
.container-de-copa,
.tag-mataleone1 {
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.tag-mataleone1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xs);
  background-color: var(--grey-light);
  border-radius: var(--br-sm);
  display: none;
  flex-direction: row;
}
.tag-mataleone1:hover {
  background-color: var(--white);
}
.container-de-copa {
  background-color: var(--grey-dark);
  width: 1280px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl);
}
.text-div5,
.title-div3 {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.title-div3 {
  font-size: var(--h1-size);
  line-height: 100%;
  color: var(--grey-light);
}
.text-div5 {
  line-height: 150%;
}
.more-info-button3 {
  cursor: pointer;
  padding: var(--padding-2xs) var(--padding-sm);
  background-color: transparent;
  border-radius: var(--br-md);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.more-info-button3,
.more-info-button3:hover {
  border: 1px solid var(--branding-dark);
  box-sizing: border-box;
}
.container-de-rave {
  background-color: var(--grey-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1280px;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
}
.container-cs-parking,
.container-de-rave,
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container-cs-parking {
  background-color: var(--black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1280px;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
}
.main {
  align-items: flex-start;
  gap: var(--gap-0);
}
.steam-logo-icon,
.steam-logo-icon1 {
  position: relative;
  width: 265px;
  height: 80px;
  flex-shrink: 0;
}
.steam-logo-icon1 {
  width: 266px;
  object-fit: cover;
  display: none;
}
.visit-our-steam-workshop-and {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 135%;
  display: inline-block;
}
.primary-b5 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--h1);
  color: var(--branding);
  text-align: left;
}
.visit-now-button {
  cursor: pointer;
  border: 0;
  padding: 12px var(--padding-lg);
  background-color: var(--white);
  border-radius: var(--br-md);
  flex-direction: row;
  box-sizing: border-box;
}
.visit-now-button:hover {
  background-color: var(--grey-light);
}
.cta-section,
.frame-div,
.visit-now-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-div {
  flex-direction: row;
  gap: var(--gap-lg);
}
.cta-section {
  align-self: stretch;
  background-color: var(--branding-dark);
  flex-direction: column;
  padding: var(--padding-lg) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h2-size);
  color: var(--white);
  font-family: var(--h1);
}
.bubble-div1 {
  position: relative;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  display: none;
}
.about {
  position: relative;
  display: inline-block;
}
.frame-a6,
.frame-div4 {
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-md);
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.frame-a6 {
  text-decoration: none;
  display: flex;
  color: inherit;
}
.frame-div4 {
  display: none;
}
.frame-div2,
.frame-div3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-0);
}
.frame-div2 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.shield-badge-1-icon {
  position: relative;
  width: 192px;
  height: 192px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.links-div {
  align-self: stretch;
  background-color: var(--grey-dark);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}
.steam-icon,
.steam-icon1 {
  position: relative;
  height: 24px;
  flex-shrink: 0;
}
.steam-icon {
  width: 23.91px;
  cursor: pointer;
}
.steam-icon1 {
  width: 24px;
  object-fit: cover;
  display: none;
}
.twitter-icon {
  height: 19.5px;
}
.instagram-icon,
.twitter-icon,
.twitter-icon1 {
  position: relative;
  width: 24px;
  flex-shrink: 0;
}
.twitter-icon1 {
  height: 20px;
  object-fit: cover;
  display: none;
}
.instagram-icon {
  height: 24px;
}
.social-div {
  align-self: stretch;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.footer-div,
.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.footer-div {
  align-self: stretch;
  text-align: left;
  font-size: var(--text-size);
  color: var(--branding);
}
.home-main {
  position: relative;
  background-color: var(--black);
  width: 100%;
  height: 720px;
  text-align: center;
  font-size: 80px;
  color: var(--white);
  font-family: var(--h1);
}
@media screen and (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
}
@media screen and (max-width: 428px) {
  .desktop-nav {
    display: none;
  }
  .content-div1,
  .de-sampa-2-icon {
    flex: unset;
    align-self: stretch;
  }
  .wrap-article {
    flex-direction: column;
  }
}
