@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.logo-jogaai-icon {
  position: relative;
  width: 224px;
  height: 32px;
  flex-shrink: 0;
}
.logo-div {
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-2xl) var(--padding-2xl) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.home-b {
  position: relative;
  font-size: var(--button-size);
  display: inline-block;
  font-family: var(--button);
  color: var(--branding-light);
  text-align: left;
}
.menu-home-span {
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: var(--branding);
}
.de-sampa-div {
  position: relative;
  font-size: var(--button-size);
  font-family: var(--button);
  color: var(--branding);
  text-align: left;
  display: inline-block;
}
.menu-de-copa,
.menu-de-sampa {
  text-decoration: none;
  box-sizing: border-box;
  padding: var(--padding-3xs) var(--padding-xl);
  justify-content: center;
  cursor: pointer;
}
.menu-de-sampa {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-de-copa {
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
}
.desktop-nav,
.menu-cs-parking,
.menu-de-copa {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-cs-parking {
  text-decoration: none;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  padding: var(--padding-3xs) 0 var(--padding-3xs) var(--padding-xl);
  justify-content: center;
  cursor: pointer;
}
.desktop-nav {
  justify-content: flex-end;
  gap: var(--gap-0);
}
.primary-b {
  position: relative;
  font-size: var(--button-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--white);
  text-align: center;
}
.button,
.nav {
  flex-direction: row;
  align-items: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--branding);
  border-radius: var(--br-sm);
  display: none;
  box-sizing: border-box;
  justify-content: center;
}
.nav {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.icon-menu {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.hamburguer-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xl);
  background-color: var(--gradient-dark);
  background: linear-gradient(135deg, #222, #191919);
  border-top: 0 solid var(--grey-dark);
  border-right: 0 solid var(--grey-dark);
  border-bottom: 0 solid var(--grey-dark);
  border-left: 1px solid var(--grey-dark);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header,
.wrap-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrap-div {
  width: 1168px;
  flex-shrink: 0;
  justify-content: space-between;
}
.header {
  align-self: stretch;
  background-color: var(--black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 99;
}
.csgo-p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.maps {
  margin: 0;
}
.text-h3,
.title-h1 {
  margin: 0;
  position: relative;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.title-h1 {
  font-size: inherit;
  line-height: 80%;
}
.text-h3 {
  align-self: stretch;
  font-size: var(--h2-size);
  letter-spacing: 0.05em;
  line-height: 135%;
}
.content-div {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xl) 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
}
.image-icon,
.vector-icon {
  position: relative;
  width: 16px;
  flex-shrink: 0;
}
.image-icon {
  height: 11px;
  object-fit: cover;
  display: none;
}
.vector-icon {
  height: 9.87px;
}
.hero-section,
.icons-down {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-0);
}
.icons-down {
  text-decoration: none;
  width: 32px;
  height: 32px;
  justify-content: center;
  cursor: pointer;
}
.hero-section {
  align-self: stretch;
  height: 100vh;
  padding: 88px var(--padding-4xl);
  box-sizing: border-box;
  justify-content: flex-start;
  background-image: url(./assets/hero@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--hero-title-size);
  color: var(--white);
  font-family: var(--button);
}
.de-sampa-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.thumb-div {
  position: relative;
  border-radius: var(--br-sm);
  border: 2px solid var(--branding);
  box-sizing: border-box;
  width: 556px;
  height: 312px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}
.thumb-div:hover {
  border: 2px solid var(--color-green-200);
  box-sizing: border-box;
}
.text-p,
.title-h2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.title-h2 {
  font-size: var(--h1-size);
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
}
.text-p {
  letter-spacing: 0.05em;
  line-height: 150%;
}
.text-div {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--text);
}
.authors-h4,
.value-div {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
}
.authors-h4 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.value-div {
  font-size: var(--font-size-xs);
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--text);
  color: var(--branding-dark);
  text-align: left;
}
.tag-mataleone {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xs);
  background-color: var(--grey-light);
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.tag-mataleone:hover {
  background-color: var(--white);
}
.value-div1 {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.05em;
  line-height: 124%;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--text);
  color: var(--branding-dark);
  text-align: left;
  display: inline-block;
}
.authors-div,
.tags-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.authors-div {
  flex-direction: column;
}
.secondary-b {
  position: relative;
  font-size: var(--button-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--branding);
  text-align: center;
}
.more-info-button,
.play-now-button {
  cursor: pointer;
  padding: var(--padding-3xs) var(--padding-xl);
  border-radius: var(--br-sm);
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.more-info-button {
  border: 1px solid var(--branding);
  background-color: var(--gradient-dark);
  display: flex;
}
.more-info-button:hover {
  border: 1px solid var(--branding-dark);
  box-sizing: border-box;
}
.play-now-button {
  border: 0;
  background-color: var(--branding);
  display: none;
}
.play-now-button:hover {
  background-color: var(--branding-dark);
}
.actions-div {
  flex-direction: row;
  gap: var(--gap-md);
}
.actions-div,
.content-div1,
.wrap-article {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-div1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.wrap-article {
  width: 1168px;
  flex-direction: row;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--button-size);
  color: var(--white);
  font-family: var(--button);
}
.anchor-container-de-sampa {
  position: absolute;
  left: 0;
  top: -80px;
}
.container-de-sampa {
  align-self: stretch;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  padding: var(--padding-4xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.image-mobile-icon {
  flex: 1;
  position: relative;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  height: 312px;
  object-fit: cover;
  display: none;
  cursor: pointer;
}
.image-mobile-icon:hover {
  border: 2px solid var(--branding-dark);
  box-sizing: border-box;
}
.text-p1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 140%;
  display: inline-block;
}
.actions-div1,
.tag-mataleone1 {
  flex-direction: row;
  justify-content: flex-start;
}
.tag-mataleone1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xs);
  background-color: var(--grey-light);
  border-radius: var(--br-xs);
  display: none;
  box-sizing: border-box;
  align-items: center;
}
.tag-mataleone1:hover {
  background-color: var(--white);
}
.actions-div1 {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-md);
}
.thumb-div1 {
  position: relative;
  border-radius: var(--br-sm);
  border: 2px solid var(--branding);
  box-sizing: border-box;
  width: 556px;
  height: 312px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}
.thumb-div1:hover {
  border: 2px solid var(--color-green-200);
  box-sizing: border-box;
}
.container-de-copa,
.wrap-article1 {
  display: flex;
  justify-content: flex-start;
}
.wrap-article1 {
  width: 1168px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--button-size);
  color: var(--white);
  font-family: var(--button);
}
.container-de-copa {
  align-self: stretch;
  background-color: var(--grey-dark);
  flex-direction: column;
  padding: var(--padding-4xl);
  box-sizing: border-box;
  align-items: center;
  position: relative;
}
.text-p2,
.title-h22 {
  margin: 0;
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.title-h22 {
  font-size: var(--h1-size);
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  color: var(--grey-light);
}
.text-p2 {
  line-height: 150%;
}
.container-de-rave {
  background-color: var(--grey-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: var(--padding-4xl);
  box-sizing: border-box;
  align-items: center;
}
.container-cs-parking,
.container-de-rave,
.main {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.container-cs-parking {
  background-color: var(--black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: var(--padding-4xl);
  box-sizing: border-box;
  align-items: center;
}
.main {
  align-items: flex-start;
  gap: var(--gap-0);
}
.steam-logo-icon,
.steam-logo-icon1 {
  position: relative;
  width: 265px;
  height: 80px;
  flex-shrink: 0;
}
.steam-logo-icon1 {
  width: 266px;
  object-fit: cover;
  display: none;
}
.visit-our-steam-workshop-and {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  line-height: 135%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.primary-b6 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--branding);
  text-align: center;
}
.visit-now-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md) var(--padding-3xl);
  background-color: var(--white);
  border-radius: var(--br-sm);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.visit-now-button:hover {
  background-color: var(--grey-light);
}
.frame-div,
.frame-div1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-sm);
}
.frame-div {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-lg);
}
.about-us,
.cta-section {
  font-family: var(--button);
  text-align: left;
}
.cta-section {
  align-self: stretch;
  background-color: var(--branding-dark);
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-4xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--h2-size);
  color: var(--white);
}
.about-us {
  position: relative;
  font-size: var(--button-size);
  display: inline-block;
  color: var(--branding);
}
.about,
.staff {
  text-decoration: none;
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xl);
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.about {
  display: flex;
}
.staff {
  display: none;
}
.about-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-0);
}
.csgo-maps-nav,
.de-rave,
.links-nav {
  display: flex;
  justify-content: flex-start;
}
.de-rave {
  text-decoration: none;
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-2xl) var(--padding-3xs);
  align-items: center;
  cursor: pointer;
}
.csgo-maps-nav,
.links-nav {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-0);
}
.links-nav {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-xl);
}
.the-internet-defense-league-th-icon {
  position: relative;
  width: 192px;
  height: 192px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.the-internet-defense-league {
  justify-content: center;
  cursor: pointer;
}
.links-footer,
.the-internet-defense-league,
.wrapper-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-div {
  width: 1168px;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.links-footer {
  align-self: stretch;
  background-color: var(--grey-dark);
  padding: var(--padding-4xl);
  box-sizing: border-box;
  justify-content: center;
}
.logo-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.steam-icon,
.steam-icon1 {
  position: relative;
  height: 24px;
  flex-shrink: 0;
}
.steam-icon {
  width: 23.91px;
  cursor: pointer;
}
.steam-icon1 {
  width: 24px;
  object-fit: cover;
  display: none;
}
.twitter-icon {
  height: 19.5px;
  cursor: pointer;
}
.instagram-icon,
.twitter-icon,
.twitter-icon1 {
  position: relative;
  width: 24px;
  flex-shrink: 0;
}
.twitter-icon1 {
  height: 20px;
  object-fit: cover;
  display: none;
}
.instagram-icon {
  height: 24px;
  cursor: pointer;
}
.social-nav {
  justify-content: flex-end;
  gap: var(--gap-md);
}
.social-footer,
.social-nav,
.wrapper-div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-div1 {
  width: 1168px;
  flex-shrink: 0;
  justify-content: space-between;
}
.social-footer {
  align-self: stretch;
  background-color: var(--black);
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  justify-content: center;
}
.footer,
.home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-0);
}
.footer {
  align-self: stretch;
  justify-content: center;
}
.home-div {
  position: relative;
  background-color: var(--black);
  width: 100%;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  .hamburguer-button {
    display: flex;
  }
  .wrap-div {
    width: 100%;
  }
  .header {
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .hero-section {
    width: 100%;
    height: 100%;
  }
  .footer,
  .wrap-article,
  .wrap-article1,
  .wrapper-div,
  .wrapper-div1 {
    width: 100%;
  }
}
@media screen and (max-width: 428px) {
  .logo-jogaai-icon {
    width: 168px;
    height: 24px;
  }
  .logo-div {
    padding-top: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .desktop-nav {
    display: none;
  }
  .button {
    width: 100%;
  }
  .icon-menu {
    width: 24px;
    height: 24px;
  }
  .hamburguer-button {
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .header {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .icons-down {
    position: relative;
    bottom: 56px;
  }
  .hero-section {
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .more-info-button,
  .play-now-button,
  .thumb-div {
    width: 100%;
  }
  .actions-div {
    width: 100%;
    flex-direction: row;
  }
  .content-div1 {
    flex: unset;
    align-self: stretch;
  }
  .wrap-article {
    width: 100%;
    flex-direction: column;
  }
  .container-de-sampa {
    padding: var(--padding-2xl);
    box-sizing: border-box;
  }
  .image-mobile-icon {
    display: flex;
    flex: unset;
    align-self: stretch;
  }
  .actions-div1 {
    width: 100%;
  }
  .thumb-div1 {
    width: 100%;
    height: 312px;
  }
  .wrap-article1 {
    flex-direction: column;
  }
  .container-cs-parking,
  .container-de-copa,
  .container-de-rave {
    padding: var(--padding-2xl);
    box-sizing: border-box;
  }
  .visit-now-button,
  .visit-our-steam-workshop-and {
    width: 100%;
  }
  .frame-div,
  .frame-div1 {
    width: 100%;
    text-align: center;
  }
  .frame-div {
    flex-direction: column;
  }
  .cta-section,
  .staff {
    box-sizing: border-box;
  }
  .cta-section {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
  }
  .staff {
    padding: var(--padding-lg) var(--padding-xl);
    border-left: 0;
    border-bottom: 1px solid var(--black);
  }
  .about-nav,
  .csgo-maps-nav {
    width: 100%;
  }
  .links-nav {
    width: 100%;
    flex-direction: column;
    flex: unset;
    align-self: stretch;
  }
  .the-internet-defense-league,
  .wrapper-div {
    width: 100%;
    text-align: center;
  }
  .wrapper-div {
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .links-footer {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .wrapper-div1 {
    width: 100%;
  }
  .social-footer {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
    gap: var(--gap-md);
  }
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.rectangle-div2 {
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--branding);
  width: 4px;
  height: 48px;
  flex-shrink: 0;
}
.frame-div5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.rectangle-div3 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  background-color: var(--branding);
  width: 16px;
  flex-shrink: 0;
  display: none;
}
.frame-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-dark);
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.home-b2 {
  position: relative;
  display: inline-block;
}
.home-a1,
.maps3 {
  text-decoration: none;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xl) var(--padding-3xs) 0;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--black);
}
.home-a1 {
  width: 204.2px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.maps3 {
  align-self: stretch;
  align-items: center;
}
.csgo-maps-div1,
.de-sampa2,
.maps3 {
  display: flex;
  justify-content: flex-start;
}
.de-sampa2 {
  text-decoration: none;
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  color: inherit;
}
.csgo-maps-div1 {
  width: 204.2px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-0);
}
.links-div1,
.staff-div3 {
  box-sizing: border-box;
  justify-content: flex-start;
}
.staff-div3 {
  align-self: stretch;
  border-top: 0 solid var(--black);
  border-right: 0 solid var(--black);
  border-bottom: 0 solid var(--black);
  border-left: 1px solid var(--black);
  display: none;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xl);
  align-items: center;
  cursor: pointer;
  color: var(--branding);
}
.links-div1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-xs) 0;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.image-icon2,
.vector-icon2 {
  position: relative;
  flex-shrink: 0;
}
.image-icon2 {
  width: 25px;
  height: 20px;
  object-fit: cover;
  display: none;
}
.vector-icon2 {
  width: 19.8px;
  height: 19.8px;
}
.frame-div6,
.icon-close1 {
  display: flex;
  gap: var(--gap-0);
}
.icon-close1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-dark);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-div6 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.steam-logo-icon3 {
  position: relative;
  width: 159px;
  height: 48px;
  flex-shrink: 0;
}
.visit-our-steam-workshop-and-f1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.secondary-b6 {
  position: relative;
  font-size: var(--button-big-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button);
  color: var(--branding);
  text-align: center;
}
.button2,
.frame-div7,
.steam-workshop-div1 {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md) var(--padding-3xl);
  background-color: var(--black);
  border-radius: var(--br-sm);
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.frame-div7,
.steam-workshop-div1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.steam-workshop-div1 {
  padding: var(--padding-xs);
  box-sizing: border-box;
  justify-content: flex-end;
}
.menu-responsive-home-div,
.wrap-div2 {
  border-radius: var(--br-md) 0 0 var(--br-md);
  display: flex;
  align-items: flex-start;
}
.wrap-div2 {
  align-self: stretch;
  flex: 1;
  background-color: var(--branding);
  border-top: 0 solid var(--branding-light);
  border-right: 0 solid var(--branding-light);
  border-bottom: 0 solid var(--branding-light);
  border-left: 2px solid var(--branding-light);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-xl);
  justify-content: space-between;
}
.menu-responsive-home-div {
  position: relative;
  background-color: var(--branding-dark);
  width: 328px;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-0);
  opacity: 0;
  max-width: 90%;
  text-align: left;
  font-size: var(--button-size);
  color: var(--grey-dark);
  font-family: var(--button);
}
.menu-responsive-home-div.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
@media screen and (max-width: 428px) {
  .button2,
  .visit-our-steam-workshop-and-f1 {
    width: 100%;
  }
  .frame-div7,
  .steam-workshop-div1 {
    width: 100%;
    text-align: center;
  }
  .steam-workshop-div1 {
    flex-direction: column;
  }
}
